{% extends 'layout/crm_layout.html' %}
{% load widget_tweaks %}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">CRM | TRAINING</h2>
  </div>
{% endblock%}
{% block content %}
  <div class=" jumbotron row clearfix card">
      DELETE TRAINING EVENT
      <form method="POST">
        {% csrf_token %}
        Are you sure you want delete {{traing.name }}  supplier?
        <input class="btn btn-danger" type="submit" value="YES" /> OR <a href="{% url 'CRM:list_training'%}" class="btn btn-primary">NO</a>
      </form>
  </div>
{% endblock %}
