{% extends 'layout/crm_layout.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #} 
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
{% block header %}
  <div  class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">CRM | ADD TRAINING</h2>
  </div>
{% endblock%}
{% block content %}

    <section>
        <div class="container-fluid">
             <!-- Tabs With Icon Title -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class=" body helper-cls">
                        <span class="body" style="padding-left: 2rem;"><a class="btn btn-primary" href = "{% url 'CRM:list_training' %}" >BACK</a></span>
                        </div>
                        <div class="body">
                            <!-- Nav tabs -->
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                <form action="" method="POST" enctype="multipart/form-data">   
                                        {% csrf_token %}    
                                        <!-- Start 1 -->
                                        <div class="row clearfix">
                                            <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        {{ form.trainer | add_class:"form-control"}}
                                                        <label class="form-label">Trainer's Name</label>
                                                            <ul>
                                                            {% for error in form.trainer.errors%}
                                                            <li class="alert alert-danger">{{ error }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group form-float">
                                                    <p>Select all Represented Members</p>
                                                    <select name="{{form.all_trainee.name}}" class="multiselect col-md-12" multiple="multiple" style="height:20rem;">
                                                        {% for value, text in form.all_trainee.field.choices %}
                                                            <option value="{{value}}">{{text}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Row 2 -->
                                        <div class="row clearfix">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        {{ form.happened_on |add_class:"form-control datepicker"}}
                                                        <label class="form-label">When it happened</label>
                                                        {% for error in form.happened_on.errors%}
                                                            <li class="alert alert-danger">{{ error }}</li>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <label >Extra Description</label>
                                                        <textarea name="{{form.description.name}}" rows="5" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                        <!--  end -->
                                <div class="col-lg-6 col-md-3 col-sm-6 col-xs-12 pull-left">
                                        <input type="submit" class="btn btn-primary btn-lg m-l-15 waves-effect" value = "SUBMIT">
                                </div>                
                                
                                </form>
                               <br> <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Tabs With Icon Title -->
        </div>
    </section>
{% endblock %}
