{% extends "layout/crm_layout.html" %}
{% block header %}
  <div style="background: none; padding: .7rem; box-shadow: none;">
      <h2 class="header pull-left">CRM | TRAINING</h2>
  </div>
{% endblock%}
{% block content %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card body">
            <div class="">
                <h2 class="body">
                    <span><a class="btn btn-primary" href = "{% url 'CRM:create_training' %}" >ADD TRAINING</a></span>
                </h2>
            </div>
            <div class="body"> 
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Trainer</th>
                                <th> Number of Trainees</th>
                                <th>Date of Happening</th>
                                <th style="text-align:center;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if trainings %}
                              {% for training in trainings %}
                                  <tr>
                                      <td>{{ training.trainer }}</td>
                                      <td>{{ training.all_trainee|length }}</td>
                                      <td>{{ training.happened_on }}</td>
                                      <td>
                                          <span> <a href = "{% url 'CRM:detail_training' training.id %}"><i class="material-icons" style="color: #00BCD4;">zoom_in</i></a> </span>
                                          <span> <a href = "{% url 'CRM:edit_training' training.id %}"><i class="material-icons">edit</i></a> </span>
                                          <span> <a href = "{% url 'CRM:delete_training' training.id %}"><i class="material-icons" style = "color:#cc0000;">delete</i></a> </span>
                                      </td>
                                  </tr>
                              {% endfor %}
                            {% else %}

                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->

{% endblock %}
