{% extends 'layout/accnts_layout.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">ACCOUNTS | INVOICE DETAILS</h2>
  </div>
{% endblock%}

{% block content %}

      <div class="body card">
            <div class="helper_cls body">
                    <a href="{% url 'ACCNTS:sales_list' %}" class="btn btn-primary">BACK</a>
                    <a href="{% url 'ACCNTS:sales_edit' pk=sale.pk %}" class="btn btn-success">EDIT</a>
            </div>
            <div class="row clearfix body">
                <div class="col-md-6 ">
                    <table class="table table-responsive">
                        <tr>
                            <td>Member Name</td>
                            <td>{{sale.member.company_name}}</td>
                        </tr>
                        <tr>
                            <td>Member Number</td>
                            <td>{{sale.member.member_number}}</td>
                        </tr>
                        <tr>
                            <td>Member Address</td>
                            <td>
                               {{sale.member.physical_location}}
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-6 ">
                    <table class="table table-responsive">
                        <tr>
                            <td>Invoice Number</td>
                            <td>0{{sale.invoice.id }}0</td>
                        </tr>
                        <tr>
                            <td>Term of Payment</td>
                            <td>{{ sale.payment_terms }}</td>
                        </tr>
                        <tr>
                            <td>Payment Due</td>
                            <td>{{ sale.payment_due }}</td>
                        </tr>
                        <tr>
                            <td>Amount Paid</td>
                            <td>ksh.{{sale.amount_paid }}</td>
                        </tr>
                    </table>
                </div>
            </div>
          </div>
        </div>
{% endblock %}
