{% extends "website/layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="bg-light-gray">
    <div class="container" id="1">

</div><!--I add this one to close the div container id 1-->
</div><!--this one closes the class="toolkit" id="2" which is above the header, and nav-->

<div class="PUBLICsubNAV" style="display:none;" >

</div>

    <style type="text/css">
    .content-module-padding  { height:auto; }
    .standardshelp_link { display: inline-block; position: absolute; bottom:0; margin:15px 0; font-size:15.5px; padding:5px;}
    .boxdescription { padding-bottom:10px;  }
    div.text-white>h1, div.text-white>p {color:#FFFFFF;}
    .borderless{border:none!important;}
    @media (max-width:767px){
      .modal-dialog {
        width: 95%;
      }
    }
    @media (min-width:768px) and (max-width:991px){
      .modal-dialog {
        width: 85%;
      }
    }
    @media (min-width:992px){
      .modal-dialog {
        width: 850px;
      }
    }
    button.active>img {
      color: #FFF;
    }
    button.active {
      box-shadow: none !important;
      background: rgba(255,255,255,0) !important;
    }

    button.active#edu>.edubg, button.active#impPlan>.impPlanbg, button.active#stdDev>.stdDevbg, button.active#comMan>.comManbg {
      position: absolute;
      margin: -86px -7px;

      border-radius: 50%;
      width: 93px;
      height: 93px;
      z-index: -1;
    }
    button.active#all>.allbg {
      position: absolute;
      margin: -57px -7px;

      border-radius: 50%;
      width: 93px;
      height: 93px;
      z-index: -1;
    }
    button#all {
      height: 79px;
      width: 79px;
      border-radius: 50%;
      padding: 0 !important;
      margin-top: 10px;
    }

    button.active#edu>.edubg {
      /*background-color: #cc3c0d !important;*/
      background-color: #bf83b9 !important;
    }
    button.active#impPlan>.impPlanbg {
      /*background-color: #568a2e !important;*/
      background-color: #F26334 !important;
    }
    button.active#stdDev>.stdDevbg {
      /*background-color: #007792 !important;*/
      background-color: #89aadb !important;
    }
    button.active#comMan>.comManbg {
      background-color: #00b74f !important;
    }
    .checkmark-list > li {
      background: url('/images/super.png') no-repeat 0px 7px;
      padding: 0px 0px 12px 30px;
      /* reset styles (optional): */
      list-style: none;
      margin: 0;
      border-bottom: none !important;
    }
    #parent > .box > .content-module-wrapper > .content-module > ul > li {
      border-bottom: none;
    }
    #parent > .box > .content-module-wrapper > .content-module > ul {
      margin-top: 0;
      margin-bottom: 10px;
      display: block;
      list-style-type: disc;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 40px;
    }
    .fullbg {
     width: 100% !important;
     padding:0 !important;
     margin:0!important;
   }
   .carousel-inner {
    height:auto!important;
  }
  .smallest {
    font-size: 12px!important;
    line-height: 120%!important;
  }
</style>
</head>

    <div class="container-fluid" style="background: url('images/pagetopgradient.png') repeat-x;">
      <div class="toolkit container">
        <div class="row">
          <div class="col-sm-3 hidden-xs hidden-sm">
            <style>
.toolkit .content-module-container.flag-new .content-module::before {
    background-color: #f26334;
    color: #fff;
    content: 'New';
    left: -1px;
    padding: 4px 15px;
    position: absolute;
    top: -18px;
    box-sizing: border-box;
}
.orangehighlight {
  color: #f26334;
}
</style>
<nav class="local-navigation structure-navigation-other">
  <br>
 <div class="content-module-wrapper top-border-blue">
     <div class="content-module">
       <div class="content-module-padding">


         <a href="/#">
           <img src="{% static 'website/images/sort.png' %}" alt="" align="left" style="width:50px;float:left;margin:0 15px 15px 0;">

           <strong>GS1 Kenya<br>Learning Zone</strong>


           <p class="small color-dark-medium-gray" style="clear:both;margin-top: 10px">Access online, user-friendly training resources and get the most from your GS1 Kenya solutions.</p>
         </a>

         <hr style="margin: 15px 0 20px 0;">
         <img src="{% static 'website/images/index.png' %}" alt="" align="left" style="width:50px;float:left;margin:0 15px 15px 0;"><strong>Need More Help from Gs1 Kenya?</strong>



         <p class="small color-dark-medium-gray" style="clear:both;margin-top: 10px">For more information contact us at <a href="mailto:info@gs1kenya.org">info@gs1kenya.org</a> or call +254 (20)2385270.</p>
         <p class="small color-dark-medium-gray">We are here <b>Monday - Friday, 8:30 AM - 5:00 PM .</b></p>

       </div>
     </div>
 </div>
   <br>

 </nav>
 <script>
 $(function() {
   var loc = window.location.href; // returns the full URL
   if(/content-registry.asp/.test(loc)) {
     $('#ecr').addClass('orangehighlight');
   }
   else if(/gdsn.asp/.test(loc)) {
     $('#gdsn').addClass('orangehighlight');
   }
   else if(/item-centre-content-access.asp/.test(loc)) {
     $('#icca').addClass('orangehighlight');
   }
   else if(/prosync-data-loading.asp/.test(loc)) {
     $('#pdl').addClass('orangehighlight');
   }
 });
 </script>
           </div>
           <div class="col-xs-12 col-md-9">
             <h2 style="margin:30px 0 10px 0;line-height: 120%;">About GS1 Kenya</h2>
             <div class="col-xs-12 col-sm-6 pull-right" style="margin:0 0 10px 15px; clear:right; padding-right: 0 !important;">
               <div class="carousel-container">
                 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-wrap="true" data-interval="3500">
               <!--<ol class="carousel-indicators">
                     <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                     <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                     <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                     <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                   </ol> -->
                   <div class="content-module-wrapper top-border-tangerine" style="padding:0;">
                     <div class="content-module content-module-padding" style="min-height: 212px; padding-bottom:0">
                       <div class="carousel-inner">
                         <!-- START 1 -->
                         <div class="item active fullbg">
                           <img src="{% static 'website/images/gs1.png' %}" class="img-responsive" style="height:130px" align="right" hspace="10" vspace="20">
                           <p style="font-size:14pt; color:#002C6C; padding-top: 35px;">GS1 has <strong style="color: #002C6C; font-size: 130%;">112 member organizations</strong> around the world</p>
                         </div>

                         <div class="item fullbg">
                           <img src="{% static 'website/images/bulb.png' %}" class="img-responsive" style="height:130px" align="right" hspace="0" vspace="20">
                           <p style="font-size:14pt; color:#00B6DE; padding-top: 35px;">Over <strong style="color: #00B6DE; font-size: 130%;">1.5 million</strong> companies around the world use GS1 standards</p>
                         </div>

                         <div class="item fullbg">
                           <img src="{% static 'website/images/index.png' %}" class="img-responsive" style="height:135px" align="right" hspace="10" vspace="18">
                           <p style="font-size:14pt; color:#22BCB9; padding-top:35px">Over <strong style="color: #22BCB9; font-size: 130%;">100 million products</strong> around the world carry GS1 barcodes</p>
                         </div>

                         <div class="item fullbg">
                           <img src="{% static 'website/images/scan.png' %}" class="img-responsive" style="height:110px" align="right" hspace="10" vspace="30">
                           <p style="font-size:14pt; color:#FBB034; padding-top:22px">More than <strong style="color: #FBB034; font-size: 130%;">6 billion GS1 barcodes</strong> are scanned every day</p>
                         </div>

                         <div class="item fullbg">
                           <img src="{% static 'website/images/tree.png' %}" class="img-responsive" style="height:150px" align="right" hspace="10" vspace="5">
                           <p style="font-size:14pt; color:#F26334; padding-top:20px">GS1 believes in the <strong style="color: #F26334; font-size: 130%;">power of standards</strong> to transform the way we <strong style="color: #F26334; font-size: 130%;">work and live</strong></p>
                         </div>

                       </div>
                     </div>
                   </div>
                 </div>
               </div>

             </div>



             <p>GS1 is a neutral, not-for-profit association that develops and maintains global standards for efficient business communication.</p>
             <p>GS1 standards improve the efficiency, safety, security, sustainability and visibility of value chains across physical and digital channels in 25 sectors.</p>
             <p>Our scale and reach help ensure that GS1 standards create a common language that supports systems and processes across the globe.</p>
             <p>GS1 Kenya was formed in 1998 to implement the GS1 Standards in the region.The GS1 system is a series of standards designed to improve supply chain management</p>
             <p>GS1 Kenya develops Industry Managed Solutions to address specific sector-wide, non-competitive business process issues, designed to enable organizations of all sizes to meet Kenyans trading and regulatory requirements.</p>

             <h4><strong>Purpose & Beliefs</strong></h4>
                         <div id="parent">
                           <div class="box stdDev" style="margin:0 0 20px 0;">
                             <div class="content-module-wrapper top-border-grass">
                               <div class="content-module content-module-padding">
                                 <ul>
                                   <p>We create a common foundation for business by uniquely identifying, accurately capturing and automatically sharing vital information about products, locations and assets.</p>
                                   <p>We enable visibility through the exchange of authentic data.</p>
                                   <p>We empower businesses to grow and to improve efficiency, safety, security and sustainability.</p>
                                   <p>We are:</p>
                                   <li>Neutral and not-for-profit</li>
                                   <li>User-driven and governed</li>
                                   <li>Global and local</li>
                                   <li>Inclusive and collaborative</li>
                                 </ul>
                               </div>
                             </div>
                           </div>
                           </div>
                       </div>


                 <script src="/scripts/tools/matchRowHeights.js"></script>

                 <script>
                   var $standards = $('.' + stdDev.id);
                   var $community = $('.' + comMan.id);
                   var $educator = $('.' + edu.id);
                   var $implementation = $('.' + impPlan.id);

                   var $btns = $('.btn').click(function() {
                     if (this.id == 'all') {
                       $('#parent > div').fadeIn(450);
                     } else {
                       var $el = $('.' + this.id).fadeIn(450);
                       $('#parent > div').not($el).hide();
                     }
                     $btns.removeClass('active');
                     $(this).addClass('active');
                   })
                   $(document).ready(function () {
                     if(window.location.hash.indexOf("standards") > -1) {
                       $('#parent > div').not($standards).hide();
                       $btns.removeClass('active');
                       $('#stdDev').addClass('active');
                       $('.stdDev').show();
                     }
                     else if (window.location.hash.indexOf("community") > -1) {
                       $('#parent > div').not($community).hide();
                       $btns.removeClass('active');
                       $('#comMan').addClass('active');
                       $('.comMan').show();
                     }
                     else if (window.location.hash.indexOf("educator") > -1) {
                       $('#parent > div').not($educator).hide();
                       $btns.removeClass('active');
                       $('#edu').addClass('active');
                       $('.edu').show();
                     }
                     else if (window.location.hash.indexOf("implementation") > -1) {
                       $('#parent > div').not($implementation).hide();
                       $btns.removeClass('active');
                       $('#impPlan').addClass('active');
                       $('.impPlan').show();
                     }
                   });

                 </script>
       </div>
     </div>

{% endblock%}
