{% extends "website/layout.html" %}
{% block content %}

<div class="container">
    <section class="homeheader">
		<h1>Get Intouch with GS1 Kenya
		</h1>
		<div class="row">
		<div class="col-md-6">
		<p><b>5th Floor,Room number <b>39<b>, Nextgen mall,Mombasa Road<br>P.O. Box 3243-00200, Nairobi, Kenya</p>
		<p><strong>Tel:</strong> +254 20 2385270</p>
		</div>
		<div class="col-md-6">
		<p><strong>Mobile:</strong> +254 710 122252/735 965168</p>
<p><strong>Email:</strong> <span id="cloak97838"><a href="mailto:info@gs1kenya.org">info@gs1kenya.org</a></span><script type="text/javascript">
 //<!--
 document.getElementById('cloak97838').innerHTML = '';
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy97838 = '&#105;nf&#111;' + '&#64;';
 addy97838 = addy97838 + 'gs1k&#101;ny&#97;' + '&#46;' + '&#111;rg';
 var addy_text97838 = '&#105;nf&#111;' + '&#64;' + 'gs1k&#101;ny&#97;' + '&#46;' + '&#111;rg';
 document.getElementById('cloak97838').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy97838 + '\'>'+addy_text97838+'<\/a>';
 //-->
 </script></p>
<p><strong><a href="https://www.google.co.ke/maps/place/GS1+Kenya/@-1.3292171,36.8775751,17z/data=!3m1!4b1!4m2!3m1!1s0x182f1210b4e63e15:0x80d163bf2f39673" target="_blank">Google Map</a></strong></p>


		</div>
	<div>

    </section>
</div>
<!--contact form-->



<!--end of contact form-->
<div class="bg-light-gray">
    <div class="container">
		<section>
	<div class="row">
		<div class="col-md-12">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7446925423887!2d36.87757511475408!3d-1.329222499030531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1210b4e63e15%3A0x80d163bf2f39673!2sGS1+Kenya!5e0!3m2!1ssw!2ske!4v1481782586341" width="940" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>

	<div>

			<div>
				<div class="row">
    </section>
</div>
</div>
<!--cards-->
<!--end -->

{% endblock %}
