{% extends 'website/layout.html' %}
{% block content %}
<div class="container">
    <section class="homeheader">


		<h1>
		GS1 Story
		</h1>
		<h3>It all begun with a barcode</h3>
	<p>Beep! On 26 June 1974, a packet of chewing gum became the first barcoded product to be scanned in store. Today, barcodes play a crucial supply chain role, ensuring products hit retail shelves at the right times.</p>
    <p>We manage the barcode standard used by retailers, manufacturers and suppliers. If you want to put a barcode on an item that can be scanned anywhere in the world, <a href="{% url 'website:contact' %}">you need to talk to us.</a></p>

	<p>But although our story started with the barcode, our standards have evolved to reflect and influence the world in which we live and work.</p>

	<p>They boost efficiency in many sectors, from retail and health to transport and logistics. Always working for our members, we’re opening doors and driving down the costs of doing business.&nbsp;</p>

    </section>
</div>
<div class="bg-light-gray">
    <div class="container">
		<section>
		<div class="row">
		<div class="col-sm-12">
		<h2>How we got here</h2>
		<p>Over the last 40 years, we’ve opened offices in over 100 countries and amassed more than a million members using supply chain standards that make business easier. Learn about key dates in our history.</p>

<ul>
	<li><strong>1973:&nbsp;&nbsp; The barcode standard is agreed</strong>

		<p style="margin-left:0.65in;">Industry leaders in the US select a single standard for product identification. Still used today, it’s known as the GS1 barcode.</p>
	</li>
	<li><strong>1974:&nbsp;&nbsp; The first barcode is scanned</strong>
		<p style="margin-left:0.65in;">On 26 April, a packet of chewing gum becomes the first barcoded product to be scanned in a supermarket.</p>
	</li>
	<li><strong>1977:&nbsp;&nbsp; The GS1 system is launched</strong>
		<p style="margin-left:0.65in;">The European Article Numbering (EAN) Association — later called GS1 — opens an office in Brussels. Its founding members launch an identification system to improve supply chain efficiency.</p>
	</li>
	<li><strong>1983: &nbsp; Barcodes are used on wholesale multi-packs</strong>
		<p style="margin-left:0.65in;">As barcodes have proved their reliability and usefulness in real-world environments, they are extended and used on product outer cases.</p>
	</li>
	<li><strong>1989: &nbsp; GS1 moves beyond barcodes</strong>
		<p style="margin-left:0.65in;">With wide area networks making an impact on supply chains, we create our first international standard for electronic data interchange.</p>
	</li>
	<li><strong>1990: &nbsp; Responsibilities grow</strong>
		<p style="margin-left:0.65in;">The US and international arms of GS1 come together formally, creating a single organisation with a presence in 45 countries.</p>
	</li>
	<li><strong>1995: &nbsp; First healthcare standards created</strong>
		<p style="margin-left:0.65in;">We expand our work into the healthcare sector, working closely with healthcare bodies and providers.</p>
	</li>
	<li><strong>1999: &nbsp; The GS1 DataBar arrives</strong>
		<p style="margin-left:0.65in;">After significant research and design, the GS1 DataBar is created. This holds more information than a barcode, yet is significantly smaller.</p>
	</li>
	<li><strong>2000: &nbsp; 90<sup>th</sup> local office opens</strong>
		<p style="margin-left:0.65in;">In just ten years, we double the number of countries in which we have a local presence.</p>
	</li>
	<li><strong>2002: &nbsp; Global standards forum launched</strong>
		<p style="margin-left:0.65in;">Our Global Standards Management Process is launched. This global forum gives GS1 members one place to discuss standards.</p>
	</li>
	<li><strong>2004: &nbsp; The first standard for RFID is created</strong>
		<p style="margin-left:0.65in;">With Radio Frequency Identification (RFID) Chips becoming more common, we create a standard for their implementation and use.</p>
	</li>
	<li><strong>2007: &nbsp; GS1 enters the business-to-consumer world</strong>
		<p style="margin-left:0.65in;">As ecommerce grows, we begin to create open standards that give consumers direct access to key product information.</p>
	</li>
	<li><strong>2013: &nbsp; A 40-year celebration</strong>
		<p style="margin-left:0.65in;">With a presence in over 100 countries and more than a million members, we celebrate 40 years of the global language of business.</p>
		</div>
				</div>
			<div>
				<div class="row">
            </section>
</div>
</div>
{% endblock %}
