{% extends "website/layout.html" %}
{% load staticfiles %}
{% block content%}
<div class="carousel-container full-width">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="container">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>
        </div>
        <div class="carousel-inner">
            <div class="item active bg-purple">
                     <div class="container">
                         <div class="col-md-6" style="padding-right: 0; height: 410px; background: url(http://gs1kenya.org//assets/images/home-4.jpg) 0 0 no-repeat; background-size: cover; margin-top: -50px"></div>
                         <div class="col-md-6">
                           <div class="row animatedParent animateOnce">
 						<h1>GS1 believes in the power of standards to transform the way we work and live.</h1>
                         <p style="color:#002c6c">We empower business to grow and to improve efficiency, safety, security and sustainability.</p>
                       </div>
 </div>
                     </div>
                 </div>
            <div class="item bg-lime">
                    <div class="container">
                        <div class="col-md-6" style="padding-right: 0; height: 410px; background: url(http://gs1kenya.org//assets/images/home-3.jpg) 0 0 no-repeat; background-size: cover; margin-top: -50px"></div>
                        <div class="col-md-6">
						<h1>The global language of business</h1>
                        <p style="color:#002c6c">At GS1 Kenya we help companies across various sectors to do business better, efficiently, safely, and collaboratively anywhere in the world.</p>

</div>
                    </div>
                </div>
            <div class="item bg-sky">
           <div class="container">
               <div class="col-md-6" style="padding-right: 0; height: 410px; background: url(images/top.png) 0 0 no-repeat; background-size: cover; margin-top: -50px"></div>
               <div class="col-md-6">
   <h1>The reason why you need to get GS1 Barcodes</h1>
               <p style="color:#002c6c">GS1 Barcodes enable trading on a global scale with over 2 million companies currently using them.</p>

</div>
           </div>
       </div>
            <div class="item bg-orange">
                <div class="container">
                    <nav class="pull-left carousel-sidebar">
                        <h3>Quick Links</h3>
                        <a href="#0">My Numberbank</a>
                        <a href="#0">Check Digit Calculator</a>
                        <a href="#0">Barcode Sizing Guide</a>
                        <a href="#0">Members Directory</a>
                        <a href="get_barcodes">Get barcode</a>
                    </nav>
                    <h1>Over two million companies globally use our barcodes, including all major retailers and online marketplaces, foodservice operators and healthcare organisations</h1>

                    <button type="button" class="btn-primary  btn-margin bg-blue">click to get started</button>
                </div>
            </div>
        </div>
        <div class="container">
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="icon-arrow_left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="icon-arrow_right"></span>

            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
       <section class="homeheader">
   <h5>
       <span style="font-size:20px">We are a not for profit organization offering globally aceptable numbers for Barcodes and RFID tags supporting supply chains.
 Whether SMEs or large corporates, our solutions are tailor made to cater for business needs of all sizes.
 </span>

 </h5>
       </section>
                     </div>
                     <div class="row animatedParent animateOnce">
                       <div class="col-xs-12">
                         <a href="#">
                           <h3 style="margin-bottom:0px;margin-top:0px;">Our Sectors</h3>

                         </a>
                         <a href="#">
                           <div class="col-md-2 col-sm-12 col-xs-12 col-md-offset-1 animated fadeInDownShort"
                           style="text-align:center;background: no-repeat top center;padding-top:50px;">
                           <img class="img-responsive" src="{% static 'website/images/sectors-food.png' %}" alt="food" />
                             <h4>Foodservice</h4>
                           </div>
                         </a>
                         <a href="#">
                           <div class="col-md-2 col-sm-12 col-xs-12 animated fadeInDownShort delay-1000"
                            style="text-align:center;background:  no-repeat top center;padding-top:50px;">
                            <img class="img-responsive" src="{% static 'website/images/sectors-logistcs.png' %}" alt="food" />
                             <h4>Logistcs</h4>
                           </div>
                         </a>
                         <a href="#">
                           <div class="col-md-2 col-sm-12 col-xs-12 animated fadeInDownShort delay-1500"
                           style="text-align:center;background: no-repeat top center;padding-top:50px;">
                           <img class="img-responsive" src="{% static 'website/images/sectors-retail.png' %}" alt="food" />
                             <h4>Retail</h4>
                           </div>
                         </a>
                         <a href="#">
                           <div class="col-md-2 col-sm-12 col-xs-12 animated fadeInDownShort delay-2500"
                           style="text-align:center;background: no-repeat top center;padding-top:50px;">
                           <img class="img-responsive" src="{% static 'website/images/sectors-healthcare.png' %}" alt="food" />
                             <h4>Healthcare</h4>
                           </div>
                         </a>
                         <a href="#">
                           <div class="col-md-2 col-sm-12 col-xs-12 animated fadeInDownShort delay-3000"
                           style="text-align:center;background: no-repeat top center;padding-top:50px;">
                           <img class="img-responsive" src="{% static 'website/images/sectors-food.png' %}" alt="food" />
                             <h4>Pharmacy</h4>
                           </div>
                         </a>
         <hr>
       </div>
     </div>
   </div>

   <!-- END of our sectors -->
<div class="bg-light-gray">
    <div class="container">
        <section>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="content-module-container">
                            <div class="content-module-wrapper top-border-peach">
                                <div class="content-module content-module-featured-news bg-blue">

                                    <img src="{% static 'website/images/healthcare.jpg' %}" alt="Scan"style=""/>
                                    <div>
                                        <h4>
                                            <a href="#0">Unlock the power of GS1 standards </a>
                                        </h4>
                                        <p class="color-white">GS1 standards allow you to easily identify, manage, and share product data with your trading partners, supply chains,
                                           and customers to streamline operations, cut costs, and deliver richer, more satisfying customer experiences.</p>
                                        <p><a href="#0" class="color-white-hover">click to know more about GS1 member &gt;</a></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-module-container">
                            <div class="content-module-wrapper top-border-orange">
                                <div class="content-module content-module-featured-news bg-blue">
                                    <img src="{% static 'website/images/image.png' %}" alt="Barcode" />
                                    <div>
                                        <h4>
                                            <a href="#0">Need a barcode</a>
                                        </h4>
                                        <p class="color-white">Do you need barcodes for your business. Join GS1 Kenya membership and we will get you through the process.<a href="#0" class="color-white-hover">.</a></p>

                                        <a class="btn-secondary" role="button" href="#0">Get a barcode</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-module-container">
                            <div class="content-module-wrapper top-border-mint">
                                <div class="content-module content-module-padding">
                                    <h4>
                                        <a href="#0">Does your business need barcode numbers? Simply become a GS1 member, and we’ll guide you through the process.</a>
                                    </h4>
                                      <p>Watch the video to know more about GS1</p>
                                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                              Launch video
                                                </button>
                                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h1 class="modal-title" id="myModalLabel">GS1 Kenya</h1>
                                                      </div>
                                                      <div class="modal-body">
                                                              <div class="content-module-content">
                                                                  <p></p>
                                                                  <iframe src="https://www.youtube.com/embed/-nvQB9QKrOU" allowfullscreen="" width="500" height="300" frameborder="0"></iframe>
                                                              </div>
                                                      </div>
                                                      <div class="modal-footer">
                                                        <div class="pull-left">
                                                            <button type="button" class="btn-primary">Getting Started</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-module-container flag-new">
                            <div class="content-module-bar bg-lavender"></div>
                            <div class="content-module-wrapper top-border-lavender">
                                <div class="content-module content-module-padding">
                                    <h4>New Innovations</h4>
                                    <ul>
                                        <li>
                                            <a href="#0">Thamani Online platform</a><br/>
                                                   The seamless Retail platform
                                        </li>
                                        <li>
                                            <a href="#0">Healthcare</a><br/>
                                                   Its starts with you
                                        </li>
                                        <li>
                                            <a href="#0">Kifwa</a><br/>
                                                Tracking of Goods realtime
                                        </li>

                                          <li>
                                              <a href="#0"></a><br/>
                                          </li>
                                         <br>
                                         <br>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="content-module-container">
                            <div class="content-module-wrapper top-border-gold">
                                <div class="content-module content-module-padding clearfix">

                                          <div class="col-xs-2 date">
                                              <span class="day"><b>29</b></span>
                                              <span class="month"><b>Nov</b></span>
                                          </div>
                                          <div class="col-xs-10">
                                              <a href="/training-and-events/find/training/2018-11-08-discover-gs1-recall/">Basic principles of barcoding</a>
                                              <p>Training</p>
                                          </div>

                                          <div class="col-xs-2 date">
                                              <span class="day"><b>31</b></span>
                                              <span class="month"><b>Jan</b></span>
                                          </div>
                                          <div class="col-xs-10">
                                              <a href="/training-and-events/find/training/2018-11-08-how-to-use-recall/">Basic principles of barcoding</a>
                                              <p>Training</p>
                                          </div>
                                          <div class="col-xs-2 date">
                                              <span class="day">8</span>
                                              <span class="month">Nov</span>
                                          </div>
                                          <div class="col-xs-10">
                                              <a href="/training-and-events/find/training/2018-11-08-introduction-to-gs1-databar-for-loose-fresh-produce/">Basic principles of barcoding</a>
                                              <p>Webinars</p>
                                          </div>

                                    <hr/>

                                    <a href="#0">See Complete List of Dates &gt;</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-module-container">
                    <div class="content-module-wrapper top-border-teal">
                        <div class="content-module content-module-featured-news">
                            <div>
                                <h4>
                                    <a class="color-blue" href="#0"><b>Top Tools</b></a>
                                </h4>

                                <ul>
                                    <li><a href="#0"><b>Get Barcode</b></a></li>
                                    <li><a href="#0"><b>Training</b></a></li>
                                    <li><a href="#0"><b>Membership Benefits</b></a></li>
                                    <li><a href="#0"><b>How to Become a member</b></a></li>
                                    <li><a href="#0"><b>Fixed asset solution</b></a></li>
                                    <li><a href="#0"><b>Barcode services</b></a></li>
                                    <li><a href="our_standards"><b>Our standards</b></a></li>
                                    <li><a href="barcode_intergrity"><b>Barcode Integrity</b></a></li>
                                    <li><a href="#0"><b>Check digit calculator</b></a></li>
                                    <li><a href="#0"><b>Payment Details</b></a></li>

                                    <li></li>

                                </ul>

                          </div>
                        </div>
                    </div>
                </div>
                <div class="content-module-container">
                    <div class="content-module-wrapper top-border-sky">
                        <div class="content-module content-module-padding">
                            <h4>Do you have a genuine GS1 Barcode Verification Report?</h4>
                            <ul>
                            </ul>
                            <h4>
                                <a href="#0">If you're using, or considering using a barcode verification vendor other than GS1 Kenya, think again.</a>
                            </h4>
                              <p><a href="#0" class="color-bg-sky-hover">learn more about GS1 verification &gt;</a></p>
                              <br>
                        </div>
                    </div>
                </div>
                <div class="content-module-container">
                    <div class="content-module-wrapper top-border-sky">
                        <div class="content-module content-module-padding">
                          <div class="row animatedParent animateOnce" >
                            <h4>Traing</h4>
                            <ul>
                            </ul>
                              <img class=" animated fadeInDownShort" src={% static 'website/images/train.png' %}" alt="Barcode" style="width: 300px;"/>
                            <h4>
                                <a href="#0">For over 10 years we’ve trained thousands of companies on our standards and solutions</a>
                            </h4>
                              <p><a href="#0" class="color-bg-sky-hover">learn more about GS1 Training &gt;</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

