{% extends 'website/layout.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <section class="homeheader">
<div class="row animatedParent animateOnce">

		<h1>
		    <img src="{% static 'website/images/staff.png' %}" alt="" align="left" style="width:40px;float:left;margin:0 15px 15px 0;">Our Staff Team
		</h1>
	<b class="animated fadeInUpShort "> We are fortunate to attract people who are passionate, bright and committed to implementing the GS1 system so as to drive positive change. They are dedicated and play a big role to the "the behind the scenes work" that ensures smooth running of our business on behalf of our members.</b>

    </section>
</div>
</div>

<div class="bg-light-gray">
    <div class="container">

		<section>
		<div class="col-md-9">
		<table class="table table-striped table-hover">

<thead>

<tr>
<th>Designation</th><th>Name</th><th>Email</th>
</tr>
</thead>

<tbody>

<tr>

<td>General Manager</td>
<td>Michael Musembi</td>
<td>m.musembi@gs1kenya.org</td>
<td>

  <!--modal-->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  view profile
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="modal-title" id="myModalLabel"> Micheal Musembi </h1>
      </div>
      <div class="modal-body">
        <p class="small">Welcome to GS1. You are just moments away from getting your first barcode number so that you can trade {trade online/generate your first barcode number}</p>
        <p class="small">Please take a moment to familiarise yourself with how our online services work.</p>
        <p class="small">Many thanks, First Last</p>
      </div>

    </div>
  </div>
</div>
<!--end modal--></td>
</tr>

<tr>
<!--modal-->


<!--end modal--></td>
</tr>

<tr>

<tr>
<td>Technical Manager</td>
<td>Paschal Kasimu</td>
<td>paschal@gs1kenya.org</td>
<td><!--modal-->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  view profile
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="modal-title" id="myModalLabel">Paschal Kasimu</h1>
      </div>
      <div class="modal-body">
        <p class="small">Welcome to GS1. You are just moments away from getting your first barcode number so that you can trade {trade online/generate your first barcode number}</p>
        <p class="small">Please take a moment to familiarise yourself with how our online services work.</p>
        <p class="small">Many thanks, First Last</p>
      </div>

    </div>
  </div>
</div>
<!--end modal--></td>
</tr>


<tr>
<td>Legal Officer</td>
<td>Kendi Nthiomi</td>
<td>kendi@gs1kenya.org</td>
<td><!--modal-->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  view profile
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="modal-title" id="myModalLabel">Kendi Nthiomi</h1>
      </div>
      <div class="modal-body">
        <p class="small">Welcome to GS1. You are just moments away from getting your first barcode number so that you can trade {trade online/generate your first barcode number}</p>
        <p class="small">Please take a moment to familiarise yourself with how our online services work.</p>
        <p class="small">Many thanks, First Last</p>
      </div>

    </div>
  </div>
</div>
<!--end modal--></td>
</tr>



<tr>
<td>Corporate Communications Manager </td>
<td>Eva Buyu</td>
<td>eva@gs1kenya.org</td>
<td><!--modal-->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  view profile
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="modal-title" id="myModalLabel">Eva Buyu</h1>
      </div>
      <div class="modal-body">
        <p class="small">Welcome to GS1. You are just moments away from getting your first barcode number so that you can trade {trade online/generate your first barcode number}</p>
        <p class="small">Please take a moment to familiarise yourself with how our online services work.</p>
        <p class="small">Many thanks, First Last</p>
      </div>

    </div>
  </div>
</div>
<!--end modal--></td>
</tr>
<tr>
<td>Filling Executive</td>
<td>Maureen Tracy Odhiambo</td>
<td>m.tracy@gs1kenya.org</td>
<td><!--modal-->

<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  view profile
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="modal-title" id="myModalLabel">Maureen Tracy Odhiambo</h1>
      </div>
      <div class="modal-body">
        <p class="small">Welcome to GS1. You are just moments away from getting your first barcode number so that you can trade {trade online/generate your first barcode number}</p>
        <p class="small">Please take a moment to familiarise yourself with how our online services work.</p>
        <p class="small">Many thanks, First Last</p>
      </div>
    </div>
  </div>
</div>
<!--end modal--></td>
</tr>

<tr>
<td>Customer Care Executive</td>
<td>Faiza Rashid</td>
<td>customercare@gs1kenya.org</td>
<td><!--modal-->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  view profile
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="modal-title" id="myModalLabel">Faiza Rashid</h1>
      </div>
      <div class="modal-body">
        <p class="small">Welcome to GS1. You are just moments away from getting your first barcode number so that you can trade {trade online/generate your first barcode number}</p>
        <p class="small">Please take a moment to familiarise yourself with how our online services work.</p>
        <p class="small">Many thanks, First Last</p>
      </div>
          </div>
  </div>
</div>
<!--end modal--></td>
</tr>

<tr>
<td>Technical Executive</td>
<td>Ben Kimathi</td>
<td>ben.k@gs1kenya.org</td>
<td><!--modal-->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  view profile
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="modal-title" id="myModalLabel">Ben Kimathi</h1>
      </div>
      <div class="modal-body">
        <p class="small">Welcome to GS1. You are just moments away from getting your first barcode number so that you can trade {trade online/generate your first barcode number}</p>
        <p class="small">Please take a moment to familiarise yourself with how our online services work.</p>
        <p class="small">Many thanks, First Last</p>
      </div>
    </div>
  </div>
</div>
<!--end modal--></td>
</tr>

<tr>
<td>Technical Executive</td>
<td>Noelle Bommet</td>
<td>n.bomett@gs1kenya.org</td>
<td><!--modal-->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  view profile
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="modal-title" id="myModalLabel">Noelle Bommet</h1>
      </div>
      <div class="modal-body">
        <p class="small">Welcome to GS1. You are just moments away from getting your first barcode number so that you can trade {trade online/generate your first barcode number}</p>
        <p class="small">Please take a moment to familiarise yourself with how our online services work.</p>
        <p class="small">Many thanks, First Last</p>
      </div>

    </div>
  </div>
</div>
<!--end modal--></td>
</tr>

<tr>
<td>Accounts Executive</td>
<td>Stephen miringu</td>
<td>stephen.m@gs1kenya.org</td>
<td><!--modal-->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  view profile
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="modal-title" id="myModalLabel">Stephen Miringu</h1>
      </div>
      <div class="modal-body">
        <p class="small">Welcome to GS1. You are just moments away from getting your first barcode number so that you can trade {trade online/generate your first barcode number}</p>
        <p class="small">Please take a moment to familiarise yourself with how our online services work.</p>
        <p class="small">Many thanks, First Last</p>
      </div>

    </div>
  </div>
</div>
<!--end modal--></td>
</tr>

<tr>
<td>Training Executive</td>
<td>Myriam  Opicho</td>
<td>m.opicho@gs1kenya.org</td>
<td><!--modal-->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  view profile
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="modal-title" id="myModalLabel">Myriam Opicho</h1>
      </div>
      <div class="modal-body">
        <p class="small">Welcome to GS1. You are just moments away from getting your first barcode number so that you can trade {trade online/generate your first barcode number}</p>
        <p class="small">Please take a moment to familiarise yourself with how our online services work.</p>
        <p class="small">Many thanks, First Last</p>
      </div>
    </div>
  </div>
</div>
<!--end modal--></td>
</tr>

<tr>
<td>Public relations Executive</td>
<td>Ursula Okoth</td>
<td>ursula.o@gs1kenya.org</td>
<td><!--modal-->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  view profile
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="modal-title" id="myModalLabel">Ursula Okoth</h1>
      </div>
      <div class="modal-body">
        <p class="small">Welcome to GS1. You are just moments away from getting your first barcode number so that you can trade {trade online/generate your first barcode number}</p>
        <p class="small">Please take a moment to familiarise yourself with how our online services work.</p>
        <p class="small">Many thanks, First Last</p>
      </div>
    </div>
  </div>
</div>
<!--end modal--></td>
</tr>

<tr>
<td>Membership Executive</td>
<td>Maryann Wakio</td>
<td>m.mwakio@gs1kenya.org</td>
<td><!--modal-->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  view profile
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="modal-title" id="myModalLabel">Maryann Wakio</h1>
      </div>
      <div class="modal-body">
        <p class="small">Welcome to GS1. You are just moments away from getting your first barcode number so that you can trade {trade online/generate your first barcode number}</p>
        <p class="small">Please take a moment to familiarise yourself with how our online services work.</p>
        <p class="small">Many thanks, First Last</p>
      </div>

    </div>
  </div>
</div>
<!--end modal--></td>
</tr>

<tr>
<td>Support Staff</td>
<td>Lucy Kagendo</td>
<td>&nbsp;</td>
<td><!--modal-->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  view profile
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="modal-title" id="myModalLabel">Lucy Kagendo</h1>
      </div>
      <div class="modal-body">
        <p class="small">Welcome to GS1. You are just moments away from getting your first barcode number so that you can trade {trade online/generate your first barcode number}</p>
        <p class="small">Please take a moment to familiarise yourself with how our online services work.</p>
        <p class="small">Many thanks, First Last</p>
      </div>
    </div>
  </div>
</div>
<!--end modal--></td>

</tr>

</tbody>
</div>
</table>
		</div>
		<div class="col-md-3">
		<div class="content-module-container">
                        <div class="content-module-wrapper top-border-teal">
                            <div class="content-module content-module-featured-news">

                                <div>
                                    <h4>
                                        <a class="color-blue" href="about"></a>
                                    </h4>

                                    <ul class="list-group">

                    <p> </P>
                </ul>
				<a type="button" class="btn-primary btn-lg btn-margin" href="http://gs1kenya.org/services/>" target="_blank">our services</a>


                                </div>
                            </div>
                        </div>
                    </div>

		<div class="content-module-container">
                        <div class="content-module-wrapper top-border-teal">
                            <div class="content-module content-module-featured-news">

                                <div>
                                    <h4>
                                        <a class="color-blue" href="about">About US</a>
                                    </h4>

                                    <ul class="list-group">

                    <ul class="list-group group-l2">
                        <li class="list-group-item item-l2"><a href="http://gs1kenya.org/about/">Who we are</a></li>
						<li class="list-group-item item-l2"><a href="http://gs1kenya.org/staff/">Staff Team</a></li>
						<li class="list-group-item item-l2"><a href="http://gs1kenya.org/bod/">The Board of Directors</a></li>

                    </ul>
                </ul>


                                </div>
                            </div>
                        </div>
                    </div>
		</div>
				</div>
			<div>
				<div class="row">
            </section>
</div>
</div>

{% endblock %}
