{% extends 'website/layout.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <section class="homeheader">
      <h1>GS1 Standards
      		</h1>
      		<h3>The Global Language of Business</h3>
      		<p>In a world of growing data, GS1 standards help you single out what really matters. They give you a common language to identify, capture and share supply chain data– ensuring important information is accessible, accurate and easy to understand.</P>

    </section>
</div>
<div class="bg-light-gray">
    <div class="container">
		<section>


	<div class="row">

  </div><div class="DnnModule DnnModule-DNN_HTML DnnModule-1570 DnnVersionableControl"><a name="1570"></a>

<div class="content-module-simple">
    <div id="dnn_ctr1570_ContentPane" class="module-container--body"><!-- Start_Module_1570 --><div id="dnn_ctr1570_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
	<div id="dnn_ctr1570_HtmlModule_lblContent"><h3>GS1 Standards at-a-glance: identify, capture, share</h3>

<p><img alt="Identify icon" class="img-responsive pull-right" src="{% static 'website/images/identify1.png' %}" style="display: inline-block; clear: right; margin-bottom: 20px; width: 260px; height: 173px;" title="Identify icon" /></p>

<p><strong>Identify</strong><br />
These are the numbers behind the barcodes. Used in both the physical and digital worlds, GS1 identification numbers uniquely distinguish products, logistics units, locations, assets, documents, and relationships across the supply chain&mdash;from the manufacturer to the consumer.<br />
<br />
Click on each standard to learn more.</p>

<div class="row content-module-padding">
<div class="col-md-12">
<table class="table table-striped table-hover">
 <thead>
  <tr>
   <th style="text-align: left;">Identify</th>
   <th style="text-align: left;"></th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td><b>Companies</b></td>


  <td>
  <div class="panel-group" id="accordion">
 <td><div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" data-placement="top" title="Click to Learn more.">
           Company Prefix

</a>
         </a>
       </h4>
     </div>
     <div id="collapseTwo" class="panel-collapse collapse">
       <div class="panel-body">
         <p class="small">Example Text Two</p>
       </div>
     </div>
   </div></td>
 </div>
</td>

  </tr>
  <tr>
   <td><b>Location</b></td>


  <td>
  <div class="panel-group" id="accordion">
 <td><div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" data-placement="top" title="Click to Learn more.">
           GLN

</a>
         </a>
       </h4>
     </div>
     <div id="collapseThree" class="panel-collapse collapse">
       <div class="panel-body">
         <p class="small">Example Text Two</p>
       </div>
     </div>
   </div></td>
 </div>
</td>

  </tr>
  <tr>
   <td><b>Logistics units</b></td>


  <td>
  <div class="panel-group" id="accordion">
  <td><div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" data-placement="top" title="Click to Learn more.">
           SSCC

  </a>
         </a>
       </h4>
     </div>
     <div id="collapseFour" class="panel-collapse collapse">
       <div class="panel-body">
         <p class="small">Example Text Two</p>
       </div>
     </div>
   </div></td>
  </div>
  </td>

  </tr>

  <tr>
   <td><b>Documents</b></td>


  <td>
  <div class="panel-group" id="accordion">
  <td><div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed" data-placement="top" title="Click to Learn more.">
           GDTI

  </a>
         </a>
       </h4>
     </div>
     <div id="collapseFive" class="panel-collapse collapse">
       <div class="panel-body">
         <p class="small">Example Text Two</p>
       </div>
     </div>
   </div></td>
  </div>
  </td>

  </tr>


  <tr>
   <td><b>Assets</b></td>


  <td>
  <div class="panel-group" id="accordion">
  <td><div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="collapsed" data-placement="top" title="Click to Learn more.">
           GIAI & GRAI
  </a>
         </a>
       </h4>
     </div>
     <div id="collapseSix" class="panel-collapse collapse">
       <div class="panel-body">
         <p class="small">Example Text Two</p>
       </div>
     </div>
   </div></td>
  </div>
  </td>

  </tr>

  <tr>
   <td><b>Shipments</b></td>


  <td>
  <div class="panel-group" id="accordion">
 <td><div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" class="collapsed" data-placement="top" title="Click to Learn more.">
           GSIN & GINC

</a>
         </a>
       </h4>
     </div>
     <div id="collapseSeven" class="panel-collapse collapse">
       <div class="panel-body">
         <p class="small">Example Text Two</p>
       </div>
     </div>
   </div></td>
 </div>
</td>

  </tr>
 </tbody>
</table>
</div>
</div>


<p><img alt="Capture icon" class="img-responsive pull-right" src="{% static 'website/images/capturee.png' %}" style="display: inline-block; clear: right; margin-bottom: 20px; width: 260px; height: 173px;" title="Capture icon" /></p>

<p><strong>Capture</strong><br />
GS1 barcodes can hold data about a product or item. Different barcodes have different purposes depending on where they will be scanned and what types of data they need to hold.<br />
<br />
Click on each standard to learn more.</p>

<div class="row content-module-padding">
<div class="col-md-12">
<table class="table table-striped table-hover">
 <thead>
  <tr>
   <th style="text-align: left;">Capture</th>
   <th style="text-align: left;"></th>
  </tr>
 </thead>
 <tbody>

   <tr>
    <td><b>Product Data for Point of Sale</b></td>


   <td>
   <div class="panel-group" id="accordion">
   <td><div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight" class="collapsed" data-placement="top" title="Click to Learn more.">
          EAN

   </a>
          </a>
        </h4>
      </div>
      <div id="collapseEight" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="small">Example Text Two</p>
        </div>
      </div>
    </div></td>
   </div>
   </td>

   </tr>

   <tr>
    <td><b>Product Data for Point of Care/Use</b></td>


   <td>
   <div class="panel-group" id="accordion">
   <td><div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine" class="collapsed" data-placement="top" title="Click to Learn more.">
          GS1 DataBar®

   </a>
          </a>
        </h4>
      </div>
      <div id="collapseNine" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="small">Example Text Two</p>
        </div>
      </div>
    </div></td>
   </div>
   </td>

   </tr>

   <tr>
    <td><b>Coupons</b></td>


   <td>
   <div class="panel-group" id="accordion">
   <td><div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen" class="collapsed" data-placement="top" title="Click to Learn more.">
          GS1 DataBar®

   </a>
          </a>
        </h4>
      </div>
      <div id="collapseTen" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="small">Example Text Two</p>
        </div>
      </div>
    </div></td>
   </div>
   </td>

   </tr>
   <tr>
    <td><b>Cartons,Cases,Pallets</b></td>


   <td>
   <div class="panel-group" id="accordion">
   <td><div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" class="collapsed" data-placement="top" title="Click to Learn more.">
          GS1-128

   </a>
          </a>
        </h4>
      </div>
      <div id="collapseEleven" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="small">Example Text Two</p>
        </div>
      </div>
    </div></td>
   </div>
   </td>

   </tr>
   <tr>
    <td><b>Detailed Product Data and Marketing</b></td>


   <td>
   <div class="panel-group" id="accordion">
   <td><div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" class="collapsed" data-placement="top" title="Click to Learn more.">
          GS1 Qr code

   </a>
          </a>
        </h4>
      </div>
      <div id="collapseTwelve" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="small">Example Text Two</p>
        </div>
      </div>
    </div></td>
   </div>
   </td>

   <tr>
    <td><b>Product Data Using RFID</b></td>


   <td>
   <div class="panel-group" id="accordion">
   <td><div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" class="collapsed" data-placement="top" title="Click to Learn more.">
          EPC®-Enabled RFID

   </a>
          </a>
        </h4>
      </div>
      <div id="collapseThirteen" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="small">Electronic Product Code (EPC) enabled RFID tags carry a serialised trade item number (SGTIN) or an SSCC for item, case or pallet identification. RFID tags can be read quickly and easily without requiring line of sight and carry
             data that can be read, added to or modified as the item moves through the supply chain.</p>
        </div>
      </div>
    </div></td>
   </div>
   </td>

   </tr>
 </tbody>
</table>
</div>
</div>

<p><img alt="Share icon" class="img-responsive pull-right" src="{% static 'website/images/share1.png' %}" style="display: inline-block; clear: right; margin-bottom: 20px; width: 260px; height: 173px;" title="Share icon" /></p>

<p><strong>Share</strong><br />
GS1 has standards for sharing product and location information electronically, eliminating the need for manual re-keying and improving accuracy and efficiency in business communications.<br />
<br />
Click on each standard to learn more.</p>

<div class="row content-module-padding">
<div class="col-md-12">
<table class="table table-striped table-hover">
 <thead>
  <tr>
   <th style="text-align: left;">Share</th>
   <th style="text-align: left;">With</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>Master Product Data</td>
   <td><a href="#">GDSN&reg;</a></td>
  </tr>
  <tr>
   <td>Business Documents, Messages</td>
   <td><a href="#">EDI</a>, <a href="/education-training/resource-library#/score/DESC/0/xml/?I-Want-To=Share-Data-Electronically">XML</a></td>
  </tr>
  <tr>
   <td>Business Messages for high-tech</td>
   <td><a href="https://resources.gs1us.org/rosettanet" target="_blank">RosettaNet&reg;</a></td>
  </tr>
  <tr>
   <td>Product Event Data</td>
   <td><a href="#">EPCIS</a>&nbsp;</td>
  </tr>
 </tbody>
</table>
</div>
</div>
</div>
</div><!-- End_Module_1570 --></div>
<div class="row">
    </section>
</div>
</div>

{% endblock %}
