{% extends "layout/crm_layout.html" %}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">CRM | FEEDBACK</h2>
  </div>
{% endblock%}
{% block content %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card body">
            <div class="">
                <h2 class="body">
                  <span><a class="btn btn-primary" href = "{% url 'CRM:create_feedback' %}" >ADD FEEDBACK</a></span>
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Member</th>
                                <th>Feedback</th>
                                <th> Created On</th>
                                <th style="text-align:center;">Status</th>
                                <th style="text-align:center;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if feedbacks %}
                              {% for feedback in feedbacks %}
                                  <tr>
                                      <td>{{ feedback.client_name }}</td>
                                      <td>{{ feedback.feedback }}</td>
                                      <td>{{ feedback.created_on }}</td>
                                      <td style="text-align: center;">
                                          {% if feedback.status == 0%}
                                                <span class="btn lable bg-orange"> pending</span>
                                          {% elif feedback.status == 11 %}
                                                <span class="btn lable bg-yellow">opened</span>
                                          {%elif feedback.status == 1%}
                                                <span> <a href = "" class="btn lable bg-green">closed</a></span>
                                          {% endif %}
                                      </td>
                                      <td>
                                          <span> <a href = "{% url 'CRM:detail_feedback' pk=feedback.id %}"><i class="material-icons" style="color: #00BCD4;">zoom_in</i></a> </span>
                                          <span> <a href = "{% url 'CRM:edit_feedback' pk=feedback.id %}"><i class="material-icons">edit</i></a> </span>
                                          <span> <a href = "{% url 'CRM:delete_feedback' pk=feedback.id %}"><i class="material-icons" style = "color:#cc0000;">delete</i></a> </span>
                                      </td>
                                  </tr>
                              {% endfor %}
                            {% else %}

                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->

{% endblock %}
