africastalking==1.1.5
argon2==0.1.10
argon2-cffi==18.3.0
cairocffi==1.0.1
CairoSVG==2.5.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cssselect2==0.2.1
defusedxml==0.5.0
Django==2.2.24
django-allauth==0.39.0
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==0.0.7
django-easy-pdf==0.1.1
django-multiselectfield==0.1.8
django-reset-migrations==0.3.1
django-weasyprint==0.5.4
django-widget-tweaks==1.4.3
djangorestframework==3.9.1
html5lib==1.0.1
idna==2.8
mysqlclient==1.4.1
oauthlib==3.0.1
Pillow==6.2.0
pycountry==18.12.8
pycparser==2.19
PyMySQL==0.9.3
PyPDF2==1.26.0
Pyphen==0.9.5
python3-openid==3.1.0
pytz==2018.9
reportlab==3.5.12
requests==2.21.0
requests-oauthlib==1.2.0
schema==0.6.8
six==1.12.0
tinycss2==0.6.1
urllib3==1.24.1
WeasyPrint==44
webencodings==0.5.1
xhtml2pdf==0.2.3