{% extends "layout/accnts_layout.html" %}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">ACCOUNTS | ASSETS</h2>
  </div>
{% endblock%}
{% block content %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card body">
            <div class="">
                <h2 class="body">
                  <span><a class="btn btn-primary" href = "{% url 'ACCNTS:bank_add' %}" >ADD BANKING</a></span>
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Serail/Ref. No.</th>
                                <th>Banked Where</th>
                                <th>Dated On</th>
                                <th>Amount</th>
                                <th style="text-align:center;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if banks %}
                              {% for bank in banks %}
                                  <tr>
                                      <td>{{ bank.name }}</td>
                                      <td>{{ bank.type }}</td>
                                      <td>{{ bank.ref_number }}</td>
                                      <td>{{ bank.banked }}</td>
                                      <td>{{ bank.dated }}</td>
                                      <td>ksh.{{ bank.amount }}</td>
                                      <td style="text-align:center;">
                                          <span> <a href = "{% url 'ACCNTS:bank_detail' pk=bank.id %}"><i class="material-icons" style="color: #00BCD4;">zoom_in</i></a> </span>
                                          <span> <a href = "{% url 'ACCNTS:bank_edit' pk=bank.id %}"><i class="material-icons">edit</i></a> </span>
                                          <span> <a href = "{% url 'ACCNTS:bank_delete' pk=bank.id %}"><i class="material-icons" style = "color:#cc0000;">delete</i></a> </span>
                                      </td>
                                  </tr>
                              {% endfor %}
                            {% else %}

                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
