{% extends "layout/main_layout.html" %}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">HRM | DASHBOARD</h2>
  </div>
{% endblock%}
{% block content %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div>
                <h2 class=" body">
                 <span><a class="btn btn-primary" href = "{% url 'leave:apply_leave' %}">APPLY LEAVE</a></span>
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Person taking Charge</th>
                                <th>Leave Name</th>
                                <th>Starting Date</th>
                                <th>Ending Date</th>
                                <th>Resumption Date</th>
                                <th style="text-align:center;">Status</th>
                                <th style="text-align:center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if employee.position.initials == "HRM" or employee.position.initials == "GM" or employee.position.initials == "CCM" %}
                            {% if leaves %}
                              {% for leave in leaves %}
                                  <tr>
                                    <td>{{ leave.employee  }}  </td>
                                        <td>{{ leave.person_taking_charge.user.first_name}} &nbsp; &nbsp; {{ leave.person_taking_charge.user.last_name}}</td>
                                        <td>{{ leave.leave.name }}</td>
                                        <td>{{ leave.start_date }}</td>
                                        <td>{{ leave.end_date }}</td>
                                        <td>{{ leave.resume_date }}</td>
                                        
                                            {% if employee.position.initials == "HRM" or employee.position.initials == "GM" or employee.position.initials == "CCM" %}
                                                {% if leave.status  == 1 %}
                                                <td style=" margin: 40px auto; text-align:center;"> 
                                                    <span class="label btn bg-green" >Approved</span> 
                                                </td>
                                                <td style=" margin: 40px auto; text-align:center;"> 
                                                    <span> <a target="_blank" href = "{% url 'leave:download_leave' pk=leave.pk %}" class="btn label bg-orange">print</a> </span>
                                                </td>
                                                    <!-- <span> <a href = "{% url 'leave:applied_lv_edit' pk=leave.pk %}"><i class="material-icons">edit</i></a> </span> -->
                                                {% else %}
                                                <td style=" margin: 40px auto; text-align:center;"> 
                                                    <span  class = "btn label bg-yellow">Pending</span>
                                                </td>
                                                <td style=" margin: 40px auto; text-align:center;"> 
                                                    <span> <a href = "{% url 'leave:approve' pk=leave.pk %}" class="btn label bg-orange">approve</a> </span>
                                                </td>
                                                    <!-- <span> <a href = "{% url 'leave:applied_lv_edit' pk=leave.pk %}"><i class="material-icons">edit</i></a> </span> -->
                                                {% endif %}
                                            {% else %}
                                                {% if leave.status  == 1 %}
                                                <td style=" margin: 40px auto; text-align:center;"> 
                                                    <span class="label btn bg-green" >Approved</span> 
                                                </td>
                                                <td style=" margin: 40px auto; text-align:center;"> 
                                                    <span> <a target="_blank" href = "{% url 'leave:download_leave' pk=leave.pk %}" class="btn label bg-orange">print</a> </span>
                                                </td>
                                                <!-- <span> <a href = "{% url 'leave:applied_lv_edit' pk=leave.pk %}"><i class="material-icons">edit</i></a> </span> -->
                                                {% else %}
                                                <td style=" margin: 40px auto; text-align:center;"> 
                                                    <span  class = "btn label bg-yellow">Pending...</span>
                                                </td>
                                                <td style=" margin: 40px auto; text-align:center;">
                                                    <span  class = "btn label bg-orange">no action</span>
                                                </td>
                                                {% endif %}
                                            {% endif%}
                                        
                                        
                                 </tr>
                              {% endfor %}
                            {% else %}

                            {% endif %}


                        {% else %}
                            {% if user_leaves %}
                            {% for leave in user_leaves  %}
                                <tr>
                                <td>{{ leave.employee  }}  </td>
                                    <td>{{ leave.person_taking_charge.user.first_name}} &nbsp; &nbsp; {{ leave.person_taking_charge.user.last_name}}</td>
                                    <td>{{ leave.leave.name }}</td>
                                    <td>{{ leave.start_date }}</td>
                                    <td>{{ leave.end_date }}</td>
                                    <td>{{ leave.resume_date }}</td>
                                    
                                       
                                        {% if leave.status  == 1 %}
                                            <td style=" margin: 40px auto; text-align:center;"> 
                                            <span class="label btn bg-green" >Approved</span>
                                            </td>
                                            <td style=" margin: 40px auto; text-align:center;"> 
                                                <span> <a target="_blank" href = "{% url 'leave:download_leave' pk=leave.pk %}" class="btn label bg-orange">print</a> </span>
                                            </td>
                                            <!-- <span> <a href = "{% url 'leave:applied_lv_edit' pk=leave.pk %}"><i class="material-icons">edit</i></a> </span> -->
                                        {% else %}
                                                <td style=" margin: 40px auto; text-align:center;"> 
                                                    <span  class = "btn label bg-yellow">Pending....</span>
                                                </td>
                                                <td style=" margin: 40px auto; text-align:center;">
                                                    <span  class = "btn label bg-orange">no action</span>
                                                </td>
                                        {% endif %}  
                             
                            </tr>
                                {% endfor %}
                            {% else %}

                            {% endif %}
                        {% endif%}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->

{% endblock %}
