{% extends 'layout/main_layout.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">HRM | DASHBOARD |> LEAVE</h2>
  </div>
{% endblock%}
{% block content %}
      <div class="body">
        <div class="card body">
            <div class="helper_cls body">
                    <a href="{% url 'leave:leave_list' %}" class="btn btn-primary">BACK</a>
                    <a href="{% url 'leave:leave_edit' pk=leave.pk %}" class="btn btn-success">EDIT</a>
            </div>
            <div class="body">
                
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <td>Leave Name</td>
                        <td>{{ leave.name }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ leave.description }}</td>
                    </tr>
                </tbody>
            </table>
            
            </div>
        </div>
      </div>
{% endblock %}
