{% extends 'layout/accnts_layout.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">ACCOUNTS | DASHBOARD</h2>
  </div>
{% endblock%}
{% block content %}
  <div class="">
      <div class="body">
            <!-- Widgets -->
            <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-cyan hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">people</i>
                            </div>
                            <div class="content">
                                <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20" style="text-align: center;">12</div>
                                <div class="text">PAYROLL</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-light-green hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">forum</i>
                            </div>
                            <div class="content">
                                <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20" style="text-align: center;">100</div>
                                <div class="text">LEDGER BOOKS</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-orange hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">person_add</i>
                            </div>
                            <div class="content">
                                <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20" style="text-align: center;">4</div>
                                <div class="text">LOANS</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box bg-pink hover-expand-effect">
                                <div class="icon">
                                    <i class="material-icons">center_focus_weak</i>
                                </div>
                                <div class="content">
                                    <div class="text" style="font-size:1rem;">TAXES</div> 
                                    <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20" style="text-align: center;">3</div>                    
                                    
                                </div>
                            </div>
                        </div>
                </div>
    
                <!-- #END# Widgets -->
      </div>


  </div>

{% endblock %}
