{% extends "layout/main_layout.html" %}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">HRM | EMPLOYEES</h2>
  </div>
{% endblock%}
{% block content %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card body">
                   
                   
                <div class="body">
                    {% if employee.position.initials == "HRM" or employee.position.initials == "GM"   or employee.position.initials == "CCM"%}
                        <h2><a class="btn btn-primary" href = "{% url 'accounts:add_employee'%}">ADD EMPLOYEE</a></h2>
                    {% endif %}
                     
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                                <tr>
                                    <th>Firt Name</th>
                                    <th>Last Name </th>
                                    <th>Department</th>
                                    <th>Job Position</th>
                                    <th>Email</th>
                                    <th>Start Date</th>
                                    <th>Salary (KSH)</th>
                                    <th>Actions</th>
                                    <th>Login info</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if users %}
                                  {% for user in users %}
                                      <tr>
                                          <td>{{ user.user.first_name }}</td>
                                          <td>{{ user.user.last_name }}</td>
                                          <td>{{user.position.department.name}}</td>
                                          <td>{{ user.position }}</td>
                                          <td>{{ user.user.email }}</td>
                                          <td>{{ user.user.date_joined }}</td>
                                          <td>{{ user.salary }}</td>
                                          <td style="text-align: center;">
                                                {% if employee.position.initials == "HRM" or employee.position.initials == "GM" or employee.position.initials == "CCM"%}
                                                    <span> <a href = "{% url 'accounts:employee_update' user.id %}"><i class="material-icons">edit</i></a> </span>
                                                    <span> <a href = "{% url 'accounts:employee_delete' user.id %}"><i class="material-icons" style = "color:#cc0000;">delete</i></a> </span>
                                                    <span> <a href = "{% url 'accounts:profile' pk=user.pk %}"><i class="material-icons" style="color: #00BCD4;">zoom_in</i></a> </span>
                                                {% else %}
                                                <span> <a href = "{% url 'accounts:profile' pk=user.pk %}"><i class="material-icons" style="color: #00BCD4;">zoom_in</i></a> </span>
                                                {% endif %}
                                          </td>
                                          <td>
                                            <span> <a href = "{% url 'accounts:employee_auth' user.user.id %}"><i class="material-icons">edit</i></a> </span>
                                          </td>
                                      </tr>
                                  {% endfor %}
                                {% else %}

                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
