{% extends 'layout/main_layout.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ employee_form.media }}            {# Adds date-picker required JS and CSS #}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">HRM | EMPLOYEE</h2>
  </div>
{% endblock%}
{% block content %}
  <div class="jumbotron center-container card">
      <form method="POST">
        {% csrf_token %}
        Are you sure you want delete an empoyee by the name <span style = "color: #f1c000; ">"{{ emp.user.username }}"</span>  ?
        <input class="btn btn-danger" type="submit" value="YES" /> OR <a href="{% url 'accounts:employees'%}" class="btn btn-primary">NO</a>
      </form>
  </div>

{% endblock %}
