{% extends "layout/main_layout.html" %}
{% load widget_tweaks %}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">HRM | EMPLOYEE DEPENDENT INFORMATION</h2>
  </div>
{% endblock%}
{% block content %}
  <div class="card">
    <div class="body">
      <h2 class="header"><a class="btn btn-primary" href = "{% url 'hrm:hrm_index'%}">BACK</a></h2>

      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row clearfix">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <label for="{{ form.profile_pic.id_for_label }}">Dependent Name</label>
                        {{ form.dependant_name|add_class:"form-control" }}
                        <ul>
                            {% for error in form.dependant_name.errors%}
                            <li class="alert alert-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <label for="{{ form.profile_pic.id_for_label }}">Dependent Contact</label>
                        {{ form.dependant_contact|add_class:"form-control" }}
                        <ul>
                            {% for error in form.dependant_contact.errors%}
                            <li class="alert alert-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <label for="{{ form.profile_pic.id_for_label }}">Address Name</label>
                        {{ form.address|add_class:"form-control" }}
                        <ul>
                            {% for error in form.address.errors%}
                            <li class="alert alert-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
          <div class="row clearfix">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-line">
                        <label for="{{ form.profile_pic.id_for_label }}">Dependant Relationship</label>
                        {{ form.dependant_relationship|add_class:"form-control" }}
                        <ul>
                            {% for error in form.dependant_relationship.errors%}
                            <li class="alert alert-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-line">
                        <label for="{{ form.profile_pic.id_for_label }}">Profile Picture</label>
                        {{ form.profile_pic|add_class:"form-control" }}
                        <ul>
                            {% for error in form.profile_pic.errors%}
                            <li class="alert alert-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
          </div>
          <div class="row clearfix">
                <div class="col-md-4 pull-right">
                    <input type="submit" class="btn btn-primary btn-lg m-l-15 waves-effect" value="SUBMIT">
                </div>
              </div>

        </div>
      </div>


{% endblock %}
