{% extends "layout/main_layout.html" %}
{% load widget_tweaks %}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">HRM | ADD EMPLOYEE</h2>
  </div>
{% endblock%}
{% block content %}
  <div class="card">
    <div class="body">
      <h2 class="header"><a class="btn btn-primary" href = "{% url 'accounts:employees'%}">BACK</a></h2>

      <form class="form"  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="row clearfix">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label for="{{ form.date_of_birth.id_for_label }}">Birth Date</label>
                            {{ form.date_of_birth|add_class:"form-control datepicker" }}
                            <ul>
                                {% for error in form.date_of_birth.errors%}
                                <li class="alert alert-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <div class="form-line">
                       <label for="">County</label>
                          {{ form.county|add_class:"form-control" }}
                          <ul>
                            {% for error in form.county.errors%}
                              <li class="alert alert-danger">{{ error }}</li>
                            {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <label for="{{ form.address.id_for_label }}">Address</label>
                        {{ form.address|add_class:"form-control" }}
                        <ul>
                            {% for error in form.address.errors%}
                            <li class="alert alert-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <label for="{{ user_form.phone.id_for_label }}">Phone Number</label>
                        {{ form.phone|add_class:"form-control"|attr:"number" }}
                        <ul>
                          {% for error in form.phone.errors%}
                            <li class="alert alert-danger">{{ error }}</li>
                          {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <label for="{{ user_form.alt_phone_number.id_for_label }}">Alternative Phone Number</label>
                        {{ form.alt_phone_number|add_class:"form-control"|attr:"number" }}
                        <ul>
                          {% for error in form.alt_phone_number.errors%}
                            <li class="alert alert-danger">{{ error }}</li>
                          {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <label for="{{ form.id_no.id_for_label }}">National ID</label>
                        {{ form.id_no|add_class:"form-control" }}
                        <ul>
                            {% for error in form.id_no.errors%}
                            <li class="alert alert-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
          </div>
          <div class="row clearfix">
              <div class="col-md-4">
                  <div class="form-group">
                      <div class="form-line">
                          <label for="{{ form.huduma.id_for_label }}">Huduma Number</label>
                          {{ form.huduma|add_class:"form-control" }}
                          <ul>
                              {% for error in form.huduma.errors%}
                              <li class="alert alert-danger">{{ error }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-8">
                  <div class="form-group">
                      <div class="form-line">
                          <label for="{{ form.profile_pic.id_for_label }}">Profile Picture</label>
                          {{ form.profile_pic|add_class:"form-control" }}
                          <ul>
                              {% for error in form.profile_pic.errors%}
                              <li class="alert alert-danger">{{ error }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>

          </div>
          <!-- END OF Demographic INFORMATION  -->
          <!-- Start of Dependants INFORMATION -->
          <div class="row clearfix">
            <div class="header">
                <h2>DEPENDANT / EMERGENCY INFORMATION</h2>
            </div>

              <div class="col-md-4">
                  <div class="form-group">
                      <div class="form-line">
                          <label for="{{ form.dependant_name.id_for_label }}">Full Name </label>
                          {{ form.dependant_name|add_class:"form-control" }}
                          <ul>
                            {% for error in form.dependant_name.errors%}
                              <li class="alert alert-danger">{{ error }}</li>
                            {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <div class="form-line">
                          <label for="{{ form.dependant_contact.id_for_label }}">Contacts </label>
                          {{ form.dependant_contact|add_class:"form-control" }}
                          <ul>
                            {% for error in form.dependant_contact.errors%}
                              <li class="alert alert-danger">{{ error }}</li>
                            {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <div class="form-line">
                          <label for="{{ form.dependant_relationship.id_for_label }}">Relationship</label>
                          {{ form.dependant_relationship|add_class:"form-control" }}
                          <ul>
                            {% for error in form.dependant_relationship.errors%}
                              <li class="alert alert-danger">{{ error }}</li>
                            {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row clearfix">
            <div class="col-md-5">
              <div class="form-group">
                  <div class="form-line">
                      <label for="{{ form.dependant_relationship.id_for_label }}">Email Address</label>
                      {{ form.kin_email|add_class:"form-control"|attr:"type:email" }}
                      <ul>
                        {% for error in  form.kin_email.errors%}
                          <li class="alert alert-danger">{{ error }}</li>
                        {% endfor %}
                      </ul>
                  </div>
              </div>
            </div>
          </div>
          <!-- END of Dependants INFORMATION -->
          <!-- Start of Work INFORMATION -->
          <div class="row clearfix">
            <div class="header">
                <h2>WORK INFORMATION</h2>
            </div>

              <div class="col-md-4">
                  <div class="form-group">
                      <div class="form-line">
                          <label for="{{ form.current_position.id_for_label }}">Current Position</label>
                          {{ form.position | add_class:"form-control"}}
                          <ul>
                            {% for error in form.position.errors%}
                              <li class="alert alert-danger">{{ error }}</li>
                            {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <div class="form-line">
                          <label for="{{ user_form.salary.id_for_label }}">Salary</label>
                          {{ form.salary|add_class:"form-control" }}
                          <ul>
                            {% for error in form.salary.errors%}
                              <li class="alert alert-danger">{{ error }}</li>
                            {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="form-group">
                      <div class="form-line">
                          <label for="{{ form.nssf_no.id_for_label }}">NSSF Number</label>
                          {{ form.nssf_no|add_class:"form-control" }}
                          <ul>
                              {% for error in form.nssf_no.errors%}
                              <li class="alert alert-danger">{{ error }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row clearfix">
              <div class="col-md-4">
                  <div class="form-group">
                      <div class="form-line">
                          <label for="{{ form.KRA.id_for_label }}">KRA PIN</label>
                          {{ form.KRA|add_class:"form-control" }}
                          <ul>
                              {% for error in form.KRA.errors%}
                              <li class="alert alert-danger">{{ error }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <div class="form-line">
                          <label for="{{ form.nhif_no.id_for_label }}">NHIF Number</label>
                          {{ form.nhif_no|add_class:"form-control" }}
                          <ul>
                              {% for error in form.nhif_no.errors%}
                              <li class="alert alert-danger">{{ error }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="form-group">
                      <div class="form-line">
                          <label for="{{ form.employee_no.id_for_label }}">Employee Number</label>
                          {{ form.employee_no|add_class:"form-control" }}
                          <ul>
                              {% for error in form.employee_no.errors%}
                              <li class="alert alert-danger">{{ error }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row clearfix">
              <div class="col-md-4">
                  <div class="form-group">
                      <div class="form-line">
                          <label for="{{ form.bank.id_for_label }}">Bank Account</label>
                          {{ form.bank|add_class:"form-control" }}
                          <ul>
                              {% for error in form.bank.errors%}
                              <li class="alert alert-danger">{{ error }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <label for="{{ form.profile_pic.id_for_label }}">Leave Balance</label>
                        {{ form.leave_bal|add_class:"form-control" }}
                        <ul>
                            {% for error in form.leave_bal.errors%}
                            <li class="alert alert-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-line">
                        <label for="{{ form.company_benifits.id_for_label }}">Company Benifits</label>
                        {{ form.company_benifits|add_class:"form-control" }}
                        <ul>
                            {% for error in form.company_benifits.errors%}
                            <li class="alert alert-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
          <br>
            <div class="col-md-4 pull-right">
                <input type="submit" class="btn btn-primary btn-lg m-l-15 waves-effect" value="SUBMIT">
            </div>
          </div>

        </div>
      </div>


{% endblock %}
