{% extends "layout/main_layout.html" %}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">HRM | EMPLOYEE DETAILS</h2>
  </div>
{% endblock%}
{% block content %}
  <div>
   
      <div class="body card ">
          <div class="helper-cls body">
              <a href="{% url 'accounts:employees' %}" class="btn btn-primary"><span style="color: orangered;">&larr;</span> BACK</a> 
              <a href="{% url 'accounts:employee_update' employee.id %}" class="btn btn-success">EDIT</a> 
          </div>
          <div class="row body">
            {% if employee.profile_pic %}
            <div class="profile" style="display:flex; justify-content: center; align-items: center; padding: 3rem;">
              <img src="{{ employee.profile_pic.url }}" class="profile__img" style="height: 8rem; width: 8rem; border-radius: .4rem;">
            </div>
            {% else %}
              <div class="profile" style=" width: 8rem; height: 8rem; display:flex; justify-content: center; align-items: center; padding: 3rem; background-color: #eee;">
                <p style ="color:orange; text-align: center;">No profile</p>
              </div>
            {% endif %}
            <div class="col-md-6">
                <table class="table">
                    <tr>
                      <td>Username</td>
                      <td>{{ employee.user.username }}</td>
                    </tr>
                    <tr>
                      <td>Email Address</td>
                      <td>{{ employee.user.email }}</td>
                    </tr>
                    <tr>
                      <td>First Name</td>
                      <td>{{ employee.user.first_name }}</td>
                    </tr>
                    <tr>
                      <td>Last Name</td>
                      <td>{{ employee.user.last_name }}</td>
                    </tr>
                    <tr>
                      <td>Address</td>
                      <td>{{ employee.address }}</td>
                    </tr>
                    <tr>
                      <td>Phone Number</td>
                      <td>{{ employee.phone }}</td>
                    </tr>
    
                  </table>
            </div>
            <div class="col-md-6">

                <table class="table table-responsive">
                    <tr>
                      <td>Country</td>
                      <td>{{ employee.county }}</td>
                    </tr>
                    <tr>
                      <td>Current Job Position</td>
                      <td>{{ employee.position.name }}</td>
                    </tr>
                    <tr>
                      <td>Department</td>
                      <td>{{employee.position.department.name}}</td>
                    </tr>
                    <tr>
                      <td>Dependent/ Emergency Phone</td>
                      <td>{{ employee.dependant_contact }}</td>
                    </tr>
                    <tr>
                      <td>Dependent / Emergency Email Address </td>
                      <td>{{ employee.kin_email }}</td>
                    </tr>
                    <tr>
                      <td>Salary</td>
                      <td>{{ employee.salary }}</td>
                    </tr>
                    <tr>
                      <td>Your Benefits</td>
                      <td>{{ employee.company_benifits }}</td>
                    </tr>
                </table>
            </div>
          </div>
      </div>
  </div>

{% endblock %}
