<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<title>Invoice</title>
</head>

<body style="font-size:14px;">
    <div class="container">
        <table>
            <tr style="height:30px;">
                <td colspan="6" style="margin-left:25px;">
                    <img src="http://gs1kenya.org/assets/images/logo.png" width="300" height="220">
                <td colspan="6" style="text-align:right">
                    <span style="text-align:right; font-size:20px; color:#6A80B0;">INV-1{{invoice.id}}0{{invoice.id}}</span>
                </td>
            </tr>
            <tr style ="height:100px;">
                <td colspan="6" style="text-align:left; padding-left:5px; color:#090936;">
                     <span style="font-size:14px;">NAIROBI, KENYA </span> <br>
                    <span style="font-size:14px;">NextGen Mall, 5<sup>th</sup> Floor, Room-39</span><br>
                    <span style="font-size:14px;"> Mombasa Road</span>
                </td>
                <td colspan="6" style="text-align:right; margin-top:-20px;">
                    <span style="font-size:17px;">The Global Language of Business</span><br><br>
                    <span style="color:#090936; font-size:22px;">INVOICE</span><br>
                </td>
            </tr>
        </table>
        <br>
        <br>
        <table>
            <tr>
                <td style="margin-right:30px;">
                    <table style="border:1px solid #999;">
                        <tr><th style="text-align:left; padding:4px;">Invoice To</th></tr>
                        <td style="height:100px; text-align:left; padding-left:5px;">
                            <span style="color: blue;">
                                {{invoice.member.company_name}} <br>
                                0{{invoice.member.company_phone}}<br>
                                {{invoice.member.post_address}} &nbsp; {{invoice.member.physical_location}}
                            </span>
                        </td>
                    </table>
                </td>
                <td>
                    <table style="border:1px solid #999;">
                        <tr style="text-align:center; padding:4px;"><th>Company PIN</th>
                            <th>Date on</th>
                            <th>Invoice No</th>
                        </tr>
                        <tr style="height:40px; text-align:center; color:blue;">
                            <td>P051307457J</td>
                            <td>{{invoice.date_of_generate }}</td>
                            <td>INV-1{{invoice.id}}0{{invoice.id}}</td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table> <br><br><br><br>
    </div>
    <!-- The Main Table  -->
    <table>
        <thead>
            <tr style="border:1px solid #999; padding:5px;">
                <th colspan="2"> P.O. No</th>
                <th colspan="2"> Due Date</th>
                <th colspan="2"> Terms</th>
                <th colspan="2"> Member No.</th>
                <th colspan="2"> CO. Prefix</th>
                <th colspan="2"></th>
            </tr>
        </thead>

            <!-- First row data -->
            <tr style="border:1px solid #999; padding:5px; text-align:center;">
                <td colspan="2" style="color:blue"></td>
                <td colspan="2" style="color:blue;">{{invoice.date_of_generate}}</td>
                <td colspan="2"></td>
                <td colspan="2" style="color:blue;" >{{invoice.member.member_number}}</td>
                <td colspan="2" style="color:blue;">{{invoice.member.member_prefix}} </td>
                <td colspan="2"> </td>
            </tr>
            <!-- Row two -->
            <tr style="border:1px solid #666; padding:5px; text-align:center;">
                <td colspan="4"> Description</td>
                <td colspan="2"> Qty</td>
                <td colspan="2"> Rate</td>
                <td colspan="2"> VAT</td>
                <td colspan="2">Amount</td>
            </tr>
            <!-- Row three -->
            <tr style="border:1px solid #999; padding:5px; height:130px; text-align:left;">
                <td colspan="4" style="color:blue;">{{invoice.description }}</td>
                <td colspan="2" style="text-align:center; color:blue;"> 1 </td>
                <td colspan="2" style="text-align:center">ksh. {{invoice.member.category}}.00 </td>
                <td colspan="2" style="text-align:center; color:blue;">
                    {% if invoice.VAT == "Yes" %}
                    <span style="color: blue;">16% = {{total_tax}}0</span>
                    {% else %}
                    <span style="color: blue;"> 0% = 0.00</span>
                    {% endif %}
                </td>
                <td colspan="2" style="text-align:center;"> <span style="color:blue;">ksh. {{balance}}.00</span> </td>
            </tr>
       </table>
       <table>
           <thead>
               <tr style="border:1px solid #999; padding:5px; text-align:center;">
                   <th colspan="8">Total Amount</th>
                   <th colspan="2">Subtotal.</th>
                   <th colspan="2" style="text-align:center; font-weight:lighter;"> Ksh. {{invoice.member.category}}.00</th>
               </tr>

           </thead>
            <!-- Row four -->
            <tr style="border:1px solid #999; padding:5px; text-align:left;">
                <td colspan="8" style="text-align:center; font-weight:bold;">
                    VAT Total Amount
                </td>
                <td colspan="2" style="text-align:center;">Total</td>
                <td colspan="2" style="text-align:center;"> <span>ksh.{{total_tax}}.00</span></td>
            </tr>
            <tr style="border:1px solid #999; padding:5px; text-align:left;">
                <td colspan="8" style="text-align:center; font-weight:bold;">ALL CHEQUES TO BE DONE IN THE NAME OF <span style="color:blue;">GS1 KENYA</span></td>
                <td colspan="2" style="text-align:center;"> Total </td>
                <td colspan="2" style="text-align:center;"> <span style="color: blue; font-weight:bold;">ksh. {{balance}}.00</span> </td>
            </tr>
            <tr style="border:1px solid #999; padding:5px; text-align:left;">
                <td colspan="8">
                    <table>
                        <tr style="padding:5px; text-align:left;">
                            <th> Prepared by</th>
                            <th> Approved by</th>
                            <th> verified by</th>
                        </tr>
                        <tr style="text-align:center; padding:5px">
                            <td><span style="color: blue;">Stephen </span></td>
                            <td><span style="color: blue;">General Manager</span></td>
                            <td><span style="color: blue;">Company Accountant</span></td>
                        </tr>
                    </table>

                </td>
                <td colspan="2">
                    <table>
                        <tr style="border-bottom:1px solid #999;"> <td>Payment/Credits<td></tr>
                        <tr> <td>Balance Due<td></tr>
                    </table>
                </td>
                <td colspan="2">
                    <table>
                    <tr style="border-bottom:1px solid #999;">
                        <td style="text-align:center; color:blue;">ksh. {{ total_paid }}.00</td>
                    </tr>
                    <tr>
                        <td style="text-align:center; color:blue;">ksh. {{total_balance}}.00</td>
                    </tr>
                    </table>
                </td>
            </tr>
       </table>
       <table>
           <tr>
               <th>
                   <tr style="border:1px solid #999; padding:5px; text-align:left;">
                       <th> Phone No</th>
                       <th> Email Address</th>
                       <th> Website</th>
                   </tr>
                   <tr style="text-align:center; border:1px solid #999; padding:5px; color:blue;">
                       <td>+254 710 122252/735 965168</td>
                       <td> account@gskenya.org</td>
                       <td> www.gs1kenya.org </td>
                   </tr>
               </th>
           </tr>
       </table>
</body>
</html>









