{% extends 'layout/accnts_layout.html' %}
{% load widget_tweaks %}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">ACCOUNTS | DELETE INVOICE </h2>
  </div>
{% endblock%}
{% block content %}
  <div class="row jumbotron card"> 
      <form method="POST">
        {% csrf_token %}
        Are you sure you want delete Invoice for  ( {{payment.member.company_name }} )?
        <input class="btn btn-danger" type="submit" value="YES" /> OR <a href="{% url 'ACCNTS:payment_list'%}" class="btn btn-primary">NO</a>
      </form>
  </div>
{% endblock %}
