{% extends 'layout/crm_layout.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="pull-left">CRM | CHOOSE CATEGORY</h2>
  </div>
{% endblock%}
{% block content %}

    <section>
        <div class="container-fluid">
             <!-- Tabs With Icon Title -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card custom-h">
                        <div class="body">
                                <div class="body">
                                     <span class="body" style="padding-left: 2rem;"><a class="btn btn-primary" href = "{% url 'CRM:list_client' %}" >BACK</a></span>
                                </div>
                            <!-- Tab panes -->
                            <div class="col-md-8">
                                <br>
                                <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                                <form  method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row ">
                                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <select name ="{{form.category.name}}" class="form-control">
                                                        <option value="22200">Category A (ksh. 22,200)</option>
                                                        <option value="62000">Category B (ksh. 62,000)</option>
                                                        <option value="154000">Category C (ksh. 154,000)</option>
                                                        <option value="300000">Category D (ksh. 300,000)</option>
                                                    </select>
                                                        <label class="form-label">Choose Category </label>
                                                        {% for errror in form.category.errors %}
                                                        <li class = "alert alert-danger"> {{ error }}</li>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-3 col-sm-6 col-xs-12">
                                        <input type="submit" class="btn btn-primary btn-lg m-l-15 waves-effect" value = "SUBMIT">
                                </div>
                                <br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Tabs With Icon Title -->
        </div>
    </section>
{% endblock %}
