{% extends 'layout/crm_layout.html' %}
{% load widget_tweaks %}
{% block header %}
  <div class="card">
      <h2 class="header pull-left">CRM | CLIENTS / MEMBERS</h2>
  </div>
{% endblock%}
{% block content %}
  <div class="jumbotron card">
      DELETE CLIENT
      <form method="POST">
        {% csrf_token %}
        Are you sure you want delete {{client.company_name }} ?
        <input class="btn btn-danger" type="submit" value="YES" /> OR <a href="{% url 'CRM:list_client'%}" class="btn btn-primary">NO</a>
      </form>
  </div>
{% endblock %}
