{% extends 'layout/crm_layout.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">CRM | MEMBER DETAILS</h2>
  </div>
{% endblock%}
{% block content %}
  <div class="card">
      
      <div class="body">
            <div class="helper_cls">
                <a href="{% url 'CRM:list_client' %}" class="btn btn-primary">BACK</a>
                <a href="{% url 'CRM:edit_client' pk=client.pk %}" class="btn btn-success">EDIT</a>
            </div>
        <div class="row clearfix">
            <div class="col-md-6">
                <table class="table table-responsive">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{ client.company_name }}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>{{ client.company_phone }} or ( {{ client.company_phone_alt }} )</td>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td>{{ client.physical_location }}</td>
                        </tr>
                        <tr>
                            <td>Director</td>
                            <td>{{ client.director_info}}</td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>{{ client.category }}</td>
                        </tr>
                        <tr>
                            <td>Sector</td>
                            <td>{{ client.sector }}</td>
                        </tr>
                        <tr>
                            <td>Business Nature</td>
                            <td>{{ client.nature_of_business  }}</td>
                        </tr>
                        <tr>
                            <td>Date of Issue</td>
                            <td>{{ client.date_of_issue  }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                    <table class="table table-responsive">
                            <tbody>
                                <tr>
                                    <td>Cerficate of Id</td>
                                    <td><i class="material-icons" style = "color:#cc0000;">assignment_returned</i>  </td>
                                </tr>
                                <tr>
                                    <td>Certificate of in Corporation</td>
                                    <td><i class="material-icons" style = "color:#cc0000;">assignment_returned</i>  </td>
                                </tr>
                                <tr>
                                    <td>Company Certificate Pin</td>
                                    <td><i class="material-icons" style = "color:#cc0000;">assignment_returned</i>  </td>
                                </tr>
                                <tr>
                                    <td>Copy of blank Cheque</td>
                                    <td><i class="material-icons" style = "color:#cc0000;">assignment_returned</i>  </td>
                                </tr>
                                <tr>
                                    <td>Copy of KEBS Certificate</td>
                                    <td><i class="material-icons" style = "color:#cc0000;">assignment_returned</i>  </td>
                                </tr>
                                <tr>
                                    <td>Director Pin Number</td>
                                    <td><i class="material-icons" style = "color:#cc0000;">assignment_returned</i>  </td>
                                </tr>
                                <tr>
                                    <td>List of product Barcoded</td>
                                    <td><i class="material-icons" style = "color:#cc0000;">assignment_returned</i>  </td>
                                </tr>
                            </tbody>
                        </table>
            </div>

        </div>
      </div>


  </div>

{% endblock %}
