{% extends 'layout/crm_layout.html' %}
{% load widget_tweaks %}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">CRM | DELETE A MEMBER</h2>
  </div>
{% endblock%}
{% block content %}
  <div class="row jumbotron clearfix">
      <form method="POST">
        {% csrf_token %}
        Are you sure you want delete {{client.company_name }} ?
        <input class="btn btn-danger" type="submit" value="YES" /> OR <a href="{% url 'CRM:list_client'%}" class="btn btn-primary">NO</a>
      </form>
  </div>
{% endblock %}
