{% extends "layout/accnts_layout.html" %}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">ACCOUNTS | PROFOMA INVOICES</h2>
  </div>
{% endblock%}
{% block content %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card body">
            <div class="">
                <h2 class="body">
                  <span><a class="btn btn-primary" href = "{% url 'ACCNTS:create_payroll' %}" >ADD PAYROLL</a></span>
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Lunch Amount</th>
                                <th>Date</th>
                                <th style="text-align:center;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if payrolls %}
                              {% for payroll in payrolls %}
                                  <tr>
                                      <td>{{ payroll.employee.user.first_name }} &nbsp; {{ payroll.employee.user.last_name }}</td>
                                      <td>ksh.{{ payroll.lunch }}</td>
                                      <td>{{ payroll.month }}</td>
                                      <td style="text-align:center;">
                                          {% if payroll.is_taxed %}
                                          <span class="btn label bg-green" style="margin-right:10px;">taxed</span>
                                          {% else %}
                                            <span><a href = "{% url 'ACCNTS:tax' tax_id=payroll.id %}" class="btn label bg-red" style="margin-right:10px;">tax</a></span>
                                          {% endif %}
                                          <span> <a href = "{% url 'ACCNTS:detail_payroll' pk=payroll.id %}" class="btn label bg-orange" style="margin-right:10px;">print</a> </span>
                                          <span> <a href = "{% url 'ACCNTS:edit_payroll' pk=payroll.id %}"><i class="material-icons">edit</i></a> </span>
                                      </td>
                                  </tr>
                              {% endfor %}
                            {% else %}

                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->

{% endblock %}
