<!Doctype html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>
         .wrapper{
             font-family:Tahoma;
         }
         .logo{
             text-align:center;
         }
         .line{
             border-bottom: 1px solid #666;
         }
        </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style="font-size:12px; margin:30px 80px;">
        <div class="wrapper">
            <div class="logo">
                <center>
                    <img src="http://gs1kenya.org/assets/images/logo.png" height="61" alt="gs1 kenya logo">
                </center>

                <!-- The main Content -->
                <div class="content">
                    <p style="">Payslip for the month of {{payroll.month}}</p><hr>
                </div>
                <!-- Employee Details -->
                <table class="table table-responsive">
                    <tr>
                        <td style="text-align:left;">Name: </td>
                        <td style="text-align:right; font-weight:bold;">{{payroll.employee.user.first_name}} &nbsp; >{{payroll.employee.user.last_name}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">ID No:</td>
                        <td style="text-align:right; font-weight:bold;">{{payroll.employee.id_no}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">PAYE No:</td>
                        <td style="text-align:right; font-weight:bold;">{{payroll.employee.TAX}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">NSSF No:</td>
                        <td style="text-align:right; font-weight:bold;">{{payroll.employee.nssf_no}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">NHIF No:</td>
                        <td style="text-align:right; font-weight:bold;">{{payroll.employee.nhif_no}}</td>
                    </tr>
                    <tr>
                        <td  style ="text-align:left;">Title: </td>
                        <td style="text-align:right; font-weight:bold;">{{payroll.employee.position.name}}</td>
                    </tr>
                </table>
                <table style="table table-responsive">
                    <thead>
                        <tr style="font-weight:bold;">
                            <th style=" text-align:left;">Description</th>
                            <th>Taxation</th>
                            <th style="text-align:right;">Pay</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align:left; width:60%;">Basic Salary</td>
                            <td  style="width:20%;">{{payroll.employee.salary}}</td>
                            <td style="width:20%; text-align:right;">{{payroll.employee.salary}}</td>
                        </tr>
                        <tr>
                            <td style="width:60%; text-align:left;">Gross Salary</td>
                            <td style="width:20%;">{{gross_salary}}</td>
                            <td style="text-align:right; width:20%;">{{gross_salary}}</td>
                        </tr>
                        <br>
                        <tr>
                            <td style="width:60%;  text-align:left;">NSSF</td>
                            <td style="width:20%;"></td>
                            <td style="text-align:right; width:20%;">{{nssf}}</td>
                        </tr>
                        <tr>
                            <td style="width:60%;  text-align:left;">Pension</td>
                            <td style="width:60%;"></td>
                            <td style="text-align:right; width:20%;">{{payroll.pension}}</td>
                        </tr>
                        <tr style="font-weight:bold;">
                            <td style="width:75%;  text-align:left;">Deductions before Tax</td>
                            <td style="width:5%;"></td>
                            <td style="text-align:right; width:20%;">{{ded_before_tax}}</td>
                        </tr>
                        <br><br>
                        <tr style="font-weight:bold;">
                            <td style="width:60%;  text-align:left;">Taxable Income</td>
                            <td style="text-align:center; width:20%;">{{taxable_income}}</td>
                            <td style="text-align:right; width:20%;"></td>
                        </tr>
                        <tr style=" font-weight:bold;">
                            <td style=" text-align: left;">PAYE</td>
                            <td style="text-align:center">{{tax}}</td>
                            <td style="text-align:right;"></td>
                        </tr>
                        <tr>
                            <td style="text-align:left;">Tax Relief</td>
                            <td style="text-align:center;">1408</td>
                            <td style="text-align:right;"></td>
                        </tr>
                        <tr style="font-weight:bold;">
                            <td style="text-align:left;">Tax Relief</td>
                            <td style="text-align:center;">1408</td>
                            <td style="text-align:right;"></td>
                        </tr>
                        <tr style="font-weight:bold;">
                            <td style="text-align:left;">PAY Tax</td>
                            <td>{{tax}}</td>
                            <td style="text-align:right;">{{tax}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:left;">NHIF</td>
                            <td></td>
                            <td style="text-align:right;">{{nhif}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:left;">Lunch</td>
                            <td></td>
                            <td style="text-align:right;">{{payroll.lunch}}</td>
                        </tr>
                        <tr style="font-weight:bold;">
                            <td style="text-align:left; width:100%;">Total Deductions after Tax</td>
                            <td></td>
                            <td style="text-align:right;">{{ded_after_tax}}</td>
                        </tr>
                        <br><br>
                        <tr>
                            <td style="text-align:left;">NHIF</td>
                            <td></td>
                            <td style="text-align:right;">{{nhif}}</td>
                        </tr>
                        <tr style=" font-weight:bold;">
                            <td  style="text-align:left;">Lunch</td>
                            <td></td>
                            <td style="text-align:right;">{{payroll.lunch}}</td>
                        </tr>
                        <tr style=" solid #666; font-weight:bold;">
                            <td  style="text-align:left; width:60%;">Total Deductions</td>
                            <td></td>
                            <td style="text-align:right;">{{total_ded}}0</td>
                        </tr>
                        <br>
                        <tr style="font-weight:bold;">
                            <td style="width:60%; text-align:left;">Net Pay</td>
                            <td style=""></td>
                            <td style="text-align:right;">{{net_income}}0</td>
                        </tr>
                    </tbody>
                </table>

                <br><br>
                <p>Employee's Signature ________________________________ </p>
                <hr>

                <span style="font-size:16px; text-align:center;">GS1Kenya &copy; Copyright. All Rights Reseversed.</span>
                <hr>
            </div>
        </div>
    </body>
