<!Doctype html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>
         .wrapper{
             font-family:Tahoma;
         }
         .logo{
             text-align:center;
         }
         .line{
             border-bottom: 1px solid #666;
         }
        </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style="font-size:11px; margin:80px;">
        <div class="wrapper">
            <div class="logo">
                <center>
                    <img src="http://gs1kenya.org/assets/images/logo.png" height="61" alt="gs1 kenya logo">
                </center>

                <!-- The main Content -->
                <div class="content">
                    <p style="">Payslip for the month of {{month}}</p><hr/>
                </div>
                <!-- Employee Details -->
                <table style="margin-bottom:5px;">
                    <tr>
                        <td style="text-align:left;">Employee No: </td>
                        <td style="text-align:right; font-weight:bold;">{{payroll.employee.employee_no}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Name: </td>
                        <td style="text-align:right; font-weight:bold;">{{payroll.employee.user.first_name}} &nbsp;&nbsp; {{payroll.employee.user.last_name}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">ID No:</td>
                        <td style="text-align:right; font-weight:bold;">{{payroll.employee.id_no}}</td>
                    </tr>
                    <tr>
                    <td style="text-align:left;">Huduma No:</td>
                    <td style="text-align:right; font-weight:bold;">{{payroll.employee.huduma}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">PIN No:</td>
                        <td style="text-align:right; font-weight:bold;">{{payroll.employee.TAX}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">NSSF No:</td>
                        <td style="text-align:right; font-weight:bold;">{{payroll.employee.nssf_no}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">NHIF No:</td>
                        <td style="text-align:right; font-weight:bold;">{{payroll.employee.nhif_no}}</td>
                    </tr>
                    <tr>
                        <td  style ="text-align:left;">Title: </td>
                        <td style="text-align:right; font-weight:bold;">{{payroll.employee.position.name}}</td>
                    </tr>
                </table>
                <table>
                        <tr style="font-weight:bold;">
                            <th style=" text-align:left;">Description</th>
                            <th></th>
                            <th style="text-align:right;">Pay</th>
                        </tr>
                        <tr style="font-weight:bold;">
                            <td style="text-align:left; width:60%;">Basic Salary</td>
                            <td  style="width:20%;"></td>
                            <td style="width:20%; text-align:right;">{{payroll.employee.salary}}.00</td>
                        </tr>
                        <tr>
                            <td style="width:60%;  text-align:left;">NSSF</td>
                            <td style="width:20%;"></td>
                            <td style="text-align:right; width:20%;">{{nssf}}0</td>
                        </tr>
                        <tr>
                            <td style="width:60%;  text-align:left;">Pension</td>
                            <td style="width:60%;"></td>
                            <td style="text-align:right; width:20%;">{{payroll.pension}}.00</td>
                        </tr>
                        <tr style="font-weight:bold;">
                            <td style="width:75%;  text-align:left; font-size:10px;">Deductions before Tax</td>
                            <td style="width:5%;"></td>
                            <td style="text-align:right; width:20%;">{{ded_before_tax}}0</td>
                        </tr>
                        <tr style="font-weight:bold;">
                            <td style="width:60%;  text-align:left;">Taxable Income</td>
                            <td style="text-align:center; width:20%;">{{taxable_income}}0</td>
                            <td style="text-align:right; width:20%;"></td>
                        </tr>
                        <tr style="font-weight:bold;">
                            <td style="text-align:left;">Tax Relief</td>
                            <td style="text-align:center;">1408.00</td>
                            <td style="text-align:right;"></td>
                        </tr>
                        <tr style="font-weight:bold;">
                            <td style="text-align:left;">PAYE</td>
                            <td>{{tax}}0</td>
                            <td style="text-align:right;">{{tax}}0</td>
                        </tr>
                        <tr>
                            <td style="text-align:left;">NHIF</td>
                            <td></td>
                            <td style="text-align:right;">{{nhif}}.00</td>
                        </tr>
                        <tr>
                            <td style="text-align:left;">NHDF</td>
                            <td></td>
                            <td style="text-align:right;">{{nhebond}}0</td>
                        </tr>
                        <tr>
                            <td style="text-align:left;">Lunch</td>
                            <td></td>
                            <td style="text-align:right;">{{payroll.lunch}}.00</td>
                        </tr>
                        <tr style="font-weight:bold;">
                            <td style="text-align:left; width:100%; font-size:10px;">Deductions after Tax</td>
                            <td></td>
                            <td style="text-align:right;">{{ded_after_tax}}.00</td>
                        </tr>
                        <tr style=" solid #666; font-weight:bold;">
                            <td  style="text-align:left; width:60%;">Total Deductions</td>
                            <td></td>
                            <td style="text-align:right;">{{total_ded}}.0</td>
                        </tr>
                        <tr style="font-weight:bold;">
                            <td style="width:60%; text-align:left;">Net Pay</td>
                            <td style=""></td>
                            <td style="text-align:right;">{{net_income}}0</td>
                        </tr>
                </table>

                <br><br><br>
                <hr/>
                <span style="font-size:16px; text-align:center;">GS1Kenya &copy; Copyright. All Rights Reseversed.</span>
            </div>
        </div>
    </body>
