
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The meta tag below can not be altered or removed -->
  <meta name="format-detection" content="+254 710122252/ 735 965168">
<meta name="description" content="">
<meta name="keywords" content"">
<meta name="author" content="Ben Kimathi">

  <title>GS1Kenya|The Global Language of Business</title>


  <link rel="icon" href="images/favicon.ico">
  <link rel="icon" type="image/x-icon" "images/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://fonts.gs1.org/fonts/307565/0C1AFEF06D7B06FBF.css" />

<link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.css">
 <link href="css/assets/animations.css'" rel="stylesheet" type="text/css" >

  <link href="css/assets/bootstrap.min.css" rel="stylesheet" type="text/css" >
  <link href="css/assets/bootstrap-theme.min.css" rel="stylesheet" type="text/css" >
  <link href="css/assets/bootstrap-accessibility.min.css" rel="stylesheet" type="text/css" >






















<!--MAin Content-->
<div class="container">
  <div id="main-content" class="main-content  5562">


<div class="container">
  <div class="row">

          <!-- LEFT NAVIGATION -->
          <div class="col-xs-12 col-md-3 hidden-xs hidden-sm">
              <!-- widget start: side nav -->

      <nav class="local-navigation">
          <ul class="list-group">

      <li class="list-group-item item-l1">

          <h3><b>Quick links</b></h3>

                  <ul class="list-group group-l2">

                  <li class="list-group-item item-l2 ">
                      <a href="/What-we-do/How-to-get-started">How to get started</a>

                  </li>

                  <li class="list-group-item item-l2 ">
                      <a href="/What-we-do/Solution-Providers">Solution Providers for members</a>

                  </li>

                  <li class="list-group-item item-l2 item-l2-active">
                      <a href="/What-we-do/Standards">Standards</a>

                              <ul class="list-group group-l3">

                              <li class="list-group-item item-l3 ">
                                  <a href="/What-we-do/Standards/How-standards-are-created">How standards are created</a>

                              </li>

                              <li class="list-group-item item-l3 ">
                                  <a href="/What-we-do/Standards/The-GS1-system">The GS1 system</a>

                              </li>

                              </ul>

                  </li>



                  </ul>

      </li>


      </ul>
      </nav>
              <!-- widget end: side nav -->
          </div>

      <!-- END LEFT NAVIGATION -->
<div class="col-xs-12 col-md-9">

           <h2>
Standards
</h2><p><b>The GS1 standards are designed to help you identify, capture and share information with your trading partners &ndash; wherever you are in the world. Our standards are the global language of business.</b></p>

<h3>Why use GS1 standards?</h3>

<p>Well-designed standards are the foundation for clear, understandable exchanges between trading partners. By using them, you can keep costs down and reduce complexity in your supply chain.</p>

<p><br />
The GS1 standards are:</p>

<ul>
 <li><b>Global&nbsp;</b>&ndash; no matter where you operate, the GS1 standards will work</li>
 <li><b>Robust&nbsp;</b>&ndash; they are purpose-built by industry, for industry</li>
 <li><b>Multi-sector</b>&nbsp;&ndash; they work within any organisation or business, and are widely adopted across different sectors</li>
 <li><b>User-generated&nbsp;</b>&ndash; they are built and maintained through a global, collaborative forum of volunteers from all industries</li>
 <li><b>Scalable&nbsp;</b>&ndash; they can be used by small businesses or multinationals</li>
</ul>
<br />
Learn more about&nbsp;<a href="/resources/standards-and-guidelines/" title="GS1 Standards">GS1 standards</a><br />
&nbsp;
       <div class="content-module-container">
         <div class="content-module-wrapper top-border-bg-teal">
           <div class="content-module content-module-featured-news ">


               <div>
                       <a href="how-standards-are-created/" title="How we create standards">
                               <h4 >
                                   How we create standards
                               </h4>
                           </a>

                       <p class="">
                             Around the world, GS1 works together with industry to maintain and create the GS1 system.
                       </p>

                   </div>
           </div>
         </div>
       </div>

       <div class="content-module-container">
         <div class="content-module-wrapper top-border-bg-raspberry">
           <div class="content-module content-module-featured-news ">


               <div>
                       <a href="../../download/GS1au-brochure-GS1-system-a-common-foundation-for-business.pdf/file" title="GS1 system brochure" target="_blank">
                               <h4 >
                                   GS1 system brochure
                               </h4>
                           </a>

                       <p class="">
                             Read about how businesses use the GS1 system and basic facts about numbering and barcoding.
                       </p>

                   </div>
           </div>
         </div>
       </div>

       <div class="content-module-container">
         <div class="content-module-wrapper top-border-bg-lavender">
           <div class="content-module content-module-featured-news ">


               <div>
                       <a href="the-gs1-system/" title="The GS1 system">
                               <h4 >
                                   The GS1 system
                               </h4>
                           </a>

                       <p class="">
                             The GS1 system is a set of standards for the unique identification of all trade items, services, logistic units, consignments, assets, documents, relationships, parties and locations at every point in the supply chain.
                       </p>

                   </div>
           </div>
         </div>
       </div>

     </div>
   </div>

<!--end of main content-->




<footer>

  <hr>
  <div class="">
  <div class="container">
      <footer>
          <div class="row">
              <div class="col-xs-12 col-sm-9">
                  <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-3">
                          <h4>About Us</h4>
                          <ul>
                              <li><a href="about">Who we are</a></li>
                              <li><a href="contacts">Contacts</a></li>
                               <li><a href="standards">Our Standards</a></li>
                          </ul>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                          <h4>Our Industries</h4>
                          <ul>
                              <li><a href="retail">Retail</a></li>
                              <li><a href="transport_and_logistics">Transport & Logistics</a></li>
                              <li><a href="foodservice">Foodservice</a></li>
                              <li><a href="healthcare">Healthcare</a></li>
                              <li><a href="technical_industries">Technical</a></li>
                          </ul>
                      </div>
                      <div class="clearfix visible-sm"></div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                          <h4>Our Services</h4>
                          <ul>
                              <li><a href="identification">Number Allocation</a></li>
                              <li><a href="generation">Image Generation</a></li>
                              <li><a href="verification">Image Verification</a></li>
                              <li><a href="training">Training</a></li>
                              <li><a href="consultancy">Consultancy</a></li>
                              <li><a href="asset_management">Asset Tags Solutions</a></li>

                          </ul>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                          <h4>Resource</h4>
                          <ul>
                              <li><a href="training">Training</a></li>
                              <li><a href="consultancy">Consultancy</a></li>
                              <li><a href="asset_management">Fixed Assets</a></li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="col-xs-12 col-sm-3">
                  <div class="newsletter social">

                      <h4>Contact Us:</h4>

                      <a href="https://www.facebook.com/gs1kenya.org/" target="_blank" class="icon icon-facebook"></a>
                      <a href="https://twitter.com/gs1kenya" target="_blank" class="icon icon-twitter"></a>
                      <a href="https://www.linkedin.com/company/gs1-kenya" target="_blank" class="icon icon-linkedin"></a>
                       <hr/>
                      <p><b>P:</b> +254 (20)2385270 <br> <b>E:</b> info@gs1kenya.org</p>

                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-12 col-md-12 footer-links">
                  <hr>
                 © GS1 Kenya <?php echo date ('Y');?>.
                 <span class="link-pipe">|</span>
                 <a href="terms">Terms & Conditions</a>
                  <span class="link-pipe">|</span>
                  <a href="privacy_policy">Privacy Policy</a>
                  <span class="link-pipe">|</span>

                  <a href="contacts">Contact Us</a>
              </div>

          </div>
      </footer>
  </div>
  </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript" src="js/assets/bootstrap.min.js"></script>
  <!-- Custom js to instantiate tooltips, alerts, modals, etc -->
  <script src="js/assets/documentation.js"></script>
  <!-- Calendar Date Picker plugin and options-->
  <script src="js/assets/css3-animate-it.js"></script>

  <script src="js/assets/bootstrap-datepicker.js"></script>



  <script>
  $('.form-date-picker').datepicker({
      todayBtn: "linked",
      multidate: false,
      autoclose: true,
      todayHighlight: true
  });
  </script>
  <!-- Lazy load Bootstrap accessibility plugin-->
  <script type="text/javascript" src="js/assets/accessibility.js"></script>
  </body>
  </html>
