<div class="bg-light-gray">
    <div class="container">
        <section>


<div class="col-sm-12 column">
<h1>Join GS1 Kenya  & get barcodes</h1>
        <h4>To attain GS1 barcodes for your business you will need to join as a member. By becoming a member you have access to our unique range of barcode numbers, support, training and much more.</h4>
<div class="content-module-container">
            <div class="content-module-wrapper top-border-sky">
                <div class="content-module-freeform content-module-padding col-xs-12 flush-outside">

                    <div class="col-md-6 centered-image-column">
         <h3 class="color-sky"><strong>Are you already a GS1 member?</strong></h3>
                       <h3>Contact the member service desk to assist you with: </h3>
           <p>
          <ul>
          <li>
                            <span class="color-blue">Getting more numbers (GTINs,GLNs,Additional Prefix)</span><br/>
                        </li>
          </ul>
                        </p>
                        <p><ul>
          <li>
                            <span class="color-blue">Update company information such as turnover, contacts e.t.c</span><br/>
                            </li>
          </ul>
                        </p>
                        <p><ul>
          <li>
                            <span class="color-blue">Request for training and consultancy</span><br/>
                       </li>
          </ul>
                        </p>

                        <br/>
                    </div>
                    <div class="col-md-6">
                        <h3 class="color-sky"><strong>Are you new to GS1?</strong> </h3>
          <h3>This is what you will need to provide:</h3>
                        <p>
          <ul>
          <li>
                            <span class="color-blue">Your company certificate of registration or incorporation</span><br/>
                        </li>
          </ul>
                        </p>
                        <p><ul>
          <li>
                            <span class="color-blue">KRA pin Certificate</span><br/>
                            </li>
          </ul>
                        </p>
                        <p><ul>
          <li>
                            <span class="color-blue">For Sole Proprietorships, also attach I.D.</span><br/>
                       </li>
          </ul>
                        </p>
          <p><ul>
          <li>
                            <span class="color-blue">List of products you would want to begin bar-coding</span><br/>
                       </li>
          </ul>
                        </p>
          <h4> </h4>
          <p></p>
                    </div>
                </div>
            </div>
        </div>

<div class="col-sm-6 column">
<a class="btn-primary" role="button" target="_blank" href="assets/pdf/Final Membership Form -  KES.pdf">Download Membership Form</a>
<h2>More Questions?</h2>
<p><strong>Email:</strong>info@gs1kenya.org</p>
<p><strong>Phone:</strong>+254-710–122252 / +254-735–965168</p>
</br>
</div>
<div class="col-sm-6 column">
<a class="btn-primary" role="button" href="membership_benefits">Membership Benefits</a>
</div>
</div>

</section>

    </div>
</div>





<footer>

  <hr>
  <div class="">
  <div class="container">
      <footer>
          <div class="row">
              <div class="col-xs-12 col-sm-9">
                  <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-3">
                          <h4>About Us</h4>
                          <ul>
                              <li><a href="about">Who we are</a></li>
                              <li><a href="contacts">Contacts</a></li>
                               <li><a href="standards">Our Standards</a></li>
                          </ul>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                          <h4>Our Industries</h4>
                          <ul>
                              <li><a href="retail">Retail</a></li>
                              <li><a href="transport_and_logistics">Transport & Logistics</a></li>
                              <li><a href="foodservice">Foodservice</a></li>
                              <li><a href="healthcare">Healthcare</a></li>
                              <li><a href="technical_industries">Technical</a></li>
                          </ul>
                      </div>
                      <div class="clearfix visible-sm"></div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                          <h4>Our Services</h4>
                          <ul>
                              <li><a href="identification">Number Allocation</a></li>
                              <li><a href="generation">Image Generation</a></li>
                              <li><a href="verification">Image Verification</a></li>
                              <li><a href="training">Training</a></li>
                              <li><a href="consultancy">Consultancy</a></li>
                              <li><a href="asset_management">Asset Tags Solutions</a></li>

                          </ul>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                          <h4>Resource</h4>
                          <ul>
                              <li><a href="training">Training</a></li>
                              <li><a href="consultancy">Consultancy</a></li>
                              <li><a href="asset_management">Fixed Assets</a></li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="col-xs-12 col-sm-3">
                  <div class="newsletter social">

                      <h4>Contact Us:</h4>

                      <a href="https://www.facebook.com/gs1kenya.org/" target="_blank" class="icon icon-facebook"></a>
                      <a href="https://twitter.com/gs1kenya" target="_blank" class="icon icon-twitter"></a>
                      <a href="https://www.linkedin.com/company/gs1-kenya" target="_blank" class="icon icon-linkedin"></a>
                       <hr/>
                      <p><b>P:</b> +254 (20)2385270 <br> <b>E:</b> info@gs1kenya.org</p>

                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-12 col-md-12 footer-links">
                  <hr>
                 © GS1 Kenya <?php echo date ('Y');?>.
                 <span class="link-pipe">|</span>
                 <a href="terms">Terms & Conditions</a>
                  <span class="link-pipe">|</span>
                  <a href="privacy_policy">Privacy Policy</a>
                  <span class="link-pipe">|</span>

                  <a href="contacts">Contact Us</a>
              </div>

          </div>
      </footer>
  </div>
  </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript" src="js/assets/bootstrap.min.js"></script>
  <!-- Custom js to instantiate tooltips, alerts, modals, etc -->
  <script src="js/assets/documentation.js"></script>
  <!-- Calendar Date Picker plugin and options-->
  <script src="js/assets/css3-animate-it.js"></script>

  <script src="js/assets/bootstrap-datepicker.js"></script>



  <script>
  $('.form-date-picker').datepicker({
      todayBtn: "linked",
      multidate: false,
      autoclose: true,
      todayHighlight: true
  });
  </script>
  <!-- Lazy load Bootstrap accessibility plugin-->
  <script type="text/javascript" src="js/assets/accessibility.js"></script>
  </body>
  </html>
