
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The meta tag below can not be altered or removed -->
  <meta name="format-detection" content="+254 710122252/ 735 965168">
<meta name="description" content="">
<meta name="keywords" content"">
<meta name="author" content="Ben Kimathi">

  <title>GS1Kenya|The Global Language of Business</title>


  <link rel="icon" href="images/favicon.ico">
  <link rel="icon" type="image/x-icon" "images/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://fonts.gs1.org/fonts/307565/0C1AFEF06D7B06FBF.css" />

<link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.css">
 <link href="css/assets/animations.css'" rel="stylesheet" type="text/css" >

  <link href="css/assets/bootstrap.min.css" rel="stylesheet" type="text/css" >
  <link href="css/assets/bootstrap-theme.min.css" rel="stylesheet" type="text/css" >
  <link href="css/assets/bootstrap-accessibility.min.css" rel="stylesheet" type="text/css" >










<div class="container">
    <section class="homeheader">
		<h1>Membership Benefits</h1>
	<h4>GS1 as a member organization has a history that spans back more than 40 years. The members cut across various industries utilizing GS1 Standards to enable seamless business operations.</h4>

    </section>
</div>
<div class="bg-light-gray">
    <div class="container">
		<section>
		<div class="row">
		<div class="col-md-8">
		<h2>What does membership entail?</h2>
<p>As a member driven organization, GS1 Kenya requires one to join as a member before they are allocated and licensed to use a company prefix which acts as a building block of GS1 Standards.</p>
<p>As a GS1 Kenya member, you will have access to a wide range of tools, expertise, and support to help you as your business grows.</p>

<h3>Member Support</h3>
<ul>
  <li>Member support team accesible through Email and Telephone.</li>
  <li>Our advisory team provides guidance on matters including barcode quality as well as implementations issues</li>

</ul>
<hr>
<h3><font color="#f26334">Tools & Resources to get you started</font></h3>
<ul>
  <li>Case studies on success stories.</li>
  <li>Industry specific trainings and workshops</li>
  <li>Industry specific guidleines and education materials</li>
</ul>
<hr>
<h3><font color="#f26334">What's in it for your organization?</font></h3>
<ul>
  <li>Adopt global potential by using standards acceptable anywhere in the world.</li>
  <li>Enhance supply chain processes and performance.</li>
  <li>Leverage the use of innovative supply chain solutions.</li>
</ul>

		  <div class="row">
		  <div class="col-sm-12 column">
						<h3>Other Membership Benefits</h3>
						</div>
		  <div class="col-sm-6 column">
						<ul style="list-style-image: url('/assets/images/check.png');">
						<li>Ongoing use of unique GS1 barcode numbers</li>
						<li>A wide range of complimentary (or discounted) training and support</li>
						<li>Complimentary and discounted barcode verification</li>
						<li>Member pricing on all GS1 Kenya services</li>
						</ul>
						</div>
						<div class="col-sm-6 column">
						<ul style="list-style-image: url('/assets/images/check.png');">

						<li>Access to best practice information and standards for supply chain management</li>
						<li>Gateway Magazine – our magazine offers members free updates and information on the GS1 standards and developments country wide, regionally and internationally.</li>
						</ul>
						</div>
		 </div>
		</div>

		<div class="col-md-4">
		<div class="content-module-wrapper top-border-purple">
                                                <div class="content-module-bar bg-purple"></div>
                                                <div class="content-module content-module-padding content-module-mm">
                                                    <h4>Join as a member</h4>
                                                    <p>Join GS1 Kenya membership and enjoy all the benefits.</p>
													<a class="btn-primary" role="button"  href="get_barcodes">How to get Started</a>
                                                </div>
		</div>
		</br>
		 <a class="btn-primary" role="button" target="_blank" href="assets/pdf/Final Membership Form -  KES.pdf">Download Membership Form</a>
		</div>

			<div>

            </section>

</div>
</div>





<footer>

  <hr>
  <div class="">
  <div class="container">
      <footer>
          <div class="row">
              <div class="col-xs-12 col-sm-9">
                  <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-3">
                          <h4>About Us</h4>
                          <ul>
                              <li><a href="about">Who we are</a></li>
                              <li><a href="contacts">Contacts</a></li>
                               <li><a href="standards">Our Standards</a></li>
                          </ul>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                          <h4>Our Industries</h4>
                          <ul>
                              <li><a href="retail">Retail</a></li>
                              <li><a href="transport_and_logistics">Transport & Logistics</a></li>
                              <li><a href="foodservice">Foodservice</a></li>
                              <li><a href="healthcare">Healthcare</a></li>
                              <li><a href="technical_industries">Technical</a></li>
                          </ul>
                      </div>
                      <div class="clearfix visible-sm"></div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                          <h4>Our Services</h4>
                          <ul>
                              <li><a href="identification">Number Allocation</a></li>
                              <li><a href="generation">Image Generation</a></li>
                              <li><a href="verification">Image Verification</a></li>
                              <li><a href="training">Training</a></li>
                              <li><a href="consultancy">Consultancy</a></li>
                              <li><a href="asset_management">Asset Tags Solutions</a></li>

                          </ul>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                          <h4>Resource</h4>
                          <ul>
                              <li><a href="training">Training</a></li>
                              <li><a href="consultancy">Consultancy</a></li>
                              <li><a href="asset_management">Fixed Assets</a></li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="col-xs-12 col-sm-3">
                  <div class="newsletter social">

                      <h4>Contact Us:</h4>

                      <a href="https://www.facebook.com/gs1kenya.org/" target="_blank" class="icon icon-facebook"></a>
                      <a href="https://twitter.com/gs1kenya" target="_blank" class="icon icon-twitter"></a>
                      <a href="https://www.linkedin.com/company/gs1-kenya" target="_blank" class="icon icon-linkedin"></a>
                       <hr/>
                      <p><b>P:</b> +254 (20)2385270 <br> <b>E:</b> info@gs1kenya.org</p>

                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-12 col-md-12 footer-links">
                  <hr>
                 © GS1 Kenya <?php echo date ('Y');?>.
                 <span class="link-pipe">|</span>
                 <a href="terms">Terms & Conditions</a>
                  <span class="link-pipe">|</span>
                  <a href="privacy_policy">Privacy Policy</a>
                  <span class="link-pipe">|</span>

                  <a href="contacts">Contact Us</a>
              </div>

          </div>
      </footer>
  </div>
  </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript" src="js/assets/bootstrap.min.js"></script>
  <!-- Custom js to instantiate tooltips, alerts, modals, etc -->
  <script src="js/assets/documentation.js"></script>
  <!-- Calendar Date Picker plugin and options-->
  <script src="js/assets/css3-animate-it.js"></script>

  <script src="js/assets/bootstrap-datepicker.js"></script>



  <script>
  $('.form-date-picker').datepicker({
      todayBtn: "linked",
      multidate: false,
      autoclose: true,
      todayHighlight: true
  });
  </script>
  <!-- Lazy load Bootstrap accessibility plugin-->
  <script type="text/javascript" src="js/assets/accessibility.js"></script>
  </body>
  </html>
