{% extends 'layout/crm_layout.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ employee_form.media }}            {# Adds date-picker required JS and CSS #}
{% block header %}
  <div class = "row" style="margin-left: 4px; background: none; box-shadow: none;">
      <h2 class="header pull-left">CRM | SUPPLIERS</h2>
  </div>
{% endblock%}
{% block content %}
    <div class="body card">
            <div class="helper_cls body">
                    <a href="{% url 'CRM:list_supplier' %}" class="btn btn-primary">BACK</a>
                    <a href="{% url 'CRM:edit_supplier' pk=supplier.pk %}" class="btn btn-success">EDIT</a>
                </div>
            <div class="body">
                <table class="table table-responsive">
                    <tbody>
                        <tr>
                            <td>Supplier Name</td>
                            <td>{{ supplier.name }}</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>{{ supplier.country }}</td>
                        </tr>
                        <tr>
                            <td>Website</td>
                            <td>{{ supplier.website }}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>{{ supplier.phone }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{supplier.description }}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
          </div>
{% endblock %}