{% extends "layout/main_layout.html" %}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">HRM  | DEPARTMENTS</h2>
  </div>
{% endblock%}
{% block content %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card body ">
            <div>
                <h2 class="body">
                  <span><a class="btn btn-primary" href = "{% url 'departments:add_department' %}" >ADD DEPARTMENT</a></span>
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Depatment Name</th>
                                <th>Depatment Abbreviations</th>
                                <th>Created On</th>
                                <th style="text-align:center;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if departments %}
                              {% for department in departments %}
                                  <tr>
                                      <td>{{ department.name }}</td>
                                      <td>{{ department.initials }}</td>
                                      <td>{{ department.created_on }}</td>
                                      <td>
                                          <span> <a href = "{% url 'departments:show_department' pk=department.id %}"><i class="material-icons" style="color: #00BCD4;">zoom_in</i></a> </span>
                                          <span> <a href = "{% url 'departments:edit_department' pk=department.id %}"><i class="material-icons">edit</i></a> </span>
                                          <span> <a href = "{% url 'departments:delete_department' pk=department.id %}"><i class="material-icons" style = "color:#cc0000;">delete</i></a> </span>
                                      </td>
                                  </tr>
                              {% endfor %}
                            {% else %}

                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->

{% endblock %}
