{% extends 'layout/main_layout.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ employee_form.media }}            {# Adds date-picker required JS and CSS #}
{% block header %}
  <div class="card">
      <h2 class="header pull-left">DEPARTMENT</h2>
  </div>
{% endblock%}
{% block content %}
  <div class="jumbotron card custom-h" >
      <div class="helper-cls">
        <a href="{% url 'departments:list_department' %}" class="btn btn-primary">BACK</a>
        <a href="{% url 'departments:edit_department' pk=department.pk %}" class="btn btn-success">EDIT</a>
      </div> <br> <br>
      <div class="body jumbotron">
        <div class="row  ">
            <div class="col-md-3">Department Name </div>
            <div class="col-md-6">{{ department.name }}</div>
        </div>
        <div class="row  ">
            <div class="col-md-3">Department Initials </div>
            <div class="col-md-6">{{ department.initials }}</div>
        </div>
        <div class="row  ">
            <div class="col-md-3">Created On </div>
            <div class="col-md-6">{{ department.created_on }}</div>
        </div>
      </div>


  </div>

{% endblock %}
