{% extends 'layout/main_layout.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ employee_form.media }}            {# Adds date-picker required JS and CSS #}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">HRM | POSITION</h2>
  </div>
{% endblock%}
{% block content %}
    <div class="card">
        <div class="helper_cls body">
            <a href="{% url 'departments:list_position' %}" class="btn btn-primary">BACK</a>
            <a href="{% url 'departments:edit_position' pk=position.pk %}" class="btn btn-success">EDIT</a>
        </div>
            
        <table class="table table-responsive body  table-bordered">
            <tbody>
                <tr>
                    <td>Job Positon</td>
                    <td>{{ position.name }}</td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>{{ position.department.name }}</td>
                </tr>
                <tr>
                    <td>Job Abbrs</td>
                    <td>{{ position.initials }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
