{% extends 'layout/main_layout.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ employee_form.media }}            {# Adds date-picker required JS and CSS #}
{% block header %}
  <div class="card">
      <h2 class="header pull-left">HRM | POSITION</h2>
  </div>
{% endblock%}
{% block content %}
  <div class="jumbotron card custom-h">
    <a href="{% url 'departments:list_position' %}" class="btn btn-primary">BACK</a>
    <a href="{% url 'departments:edit_position' pk=position.pk %}" class="btn btn-success">EDIT</a>
      <div class="body">
            <div class="body jumbotron">
                <div class="row  ">
                    <div class="col-md-3">Job Position</div>
                    <div class="col-md-6">{{ position.name }}</div>
                </div>
                <div class="row  ">
                    <div class="col-md-3">Positon Abbreviations </div>
                    <div class="col-md-6">{{ position.initials }}</div>
                </div>
                <div class="row  ">
                    <div class="col-md-3">Created On </div>
                    <div class="col-md-6">{{ position.created_on }}</div>
                </div>
            </div>
      </div>


  </div>

{% endblock %}
