{% extends 'layout/main_layout.html' %}
{% load widget_tweaks %}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">POSITION</h2>
  </div>
{% endblock%}
{% block content %}
  <div class="jumbotron card">
      <form method="POST">
        {% csrf_token %}
        Are you sure you want delete <b>{{position.name }} </b> ?
        <input class="btn btn-danger" type="submit" value="YES" /> OR <a href="{% url 'departments:list_position'%}" class="btn btn-primary">NO</a>
      </form>
  </div>

{% endblock %}
