<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>GS1 ONLINE ERP</title>
    <!-- Favicon-->
    <link rel="icon" href="{% static 'images/gs1ea.png' %}" type="image/png">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Bootstrap Core Css -->
    <link href="{% static 'plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bootstrap/js/bootstrap.js' %}" rel="stylesheet">
    <!-- Waves Effect Css {% static '' %} -->
    <link href="{% static 'plugins/node-waves/waves.css' %} " rel="stylesheet" />
    <!-- JQuery DataTable Css -->
    <link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">
    <!-- Animation Css -->
    <link href="{% static 'plugins/animate-css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/morrisjs/morris.css' %}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <!-- Custom Css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/all-themes.css' %}" rel="stylesheet" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body  onload ="timeMsg()">
  <!-- Page Loader -->
  <div class="page-loader-wrapper">
      <div class="loader">
          <div class="preloader">
              <div class="spinner-layer pl-red">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
          </div>
          <p>Please wait...</p>
      </div>
  </div>
  <!-- #END# Page Loader -->
  <!-- Overlay For Sidebars -->
  <div class="overlay"></div>
  <!-- #END# Overlay For Sidebars -->
  <!-- Search Bar -->
  <div class="search-bar">
      <div class="search-icon">
          <i class="material-icons">search</i>
      </div>
      <input type="text" placeholder="START TYPING...">
      <div class="close-search">
          <i class="material-icons">close</i>
      </div>
  </div>
  <!-- #END# Search Bar -->
  <!-- Top Bar -->
  <nav class="navbar">
      <div class="container-fluid">
          <div class="navbar-header">
              <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
              <a href="javascript:void(0);" class="bars"></a>
              <div class="navbar-brand" > <img style="display:inline-block;margin-top: -15px;" src="{% static 'images/gs1ea.png' %}" width="80" height="50" alt="User" /> ONLINE ERP</div>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                    <!-- Notifications -->
                  <li>
                      <li><a href="{% url 'accounts:logout'%}"><i class="material-icons fas fa-door-open" style="font-size:24px; color:black;"></i></a></li>
                  </li>
                  <!-- #END# Notifications -->
              </ul>
          </div>
      </div>
  </nav>
  <!-- #Top Bar -->
  <section>
      <!-- Left Sidebar -->
      <aside id="leftsidebar" class="sidebar">
          <!-- User Info -->
          <div class="user-info">
              <div class="image">
                    {% if employee.profile_pic %}
                    <img src="{{ employee.profile_pic.url }}" width="48" height="48" alt="User" />
                    {% elif employee.profile_pic == "" %}
                    <img src="{% static 'images/user.png' %}" width="48" height="48" alt="User" />
                    {% endif %}
              </div>
              <span>
              <div class="info-container btn-primary">
                {% if user.is_authenticated %}
                  <div class="name " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user.first_name }} &nbsp;{{user.last_name }}
                  </div>
                  <div class="email">{{ user.email }}</div>
                  <div class="btn-group user-helper-dropdown">
                      <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                      <ul class="dropdown-menu pull-right">
                          <li><a href="{% url 'accounts:profile' pk=employee.id %}"><i class="material-icons">person</i>Profile</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="{% url 'accounts:logout'%}"><i class="material-icons">input</i>Sign Out</a></li>
                      </ul>
                  </div>
                  {% endif %}
              </div>
            </span>
          </div>
          <!-- #User Info -->
          <!-- Menu -->
          <div class="menu">
              <ul class="list">
                  <li class="active">
                      <a href="{% url  'ACCNTS:dashboard' %}">
                          <i class="material-icons">apps</i>
                          <span>DASHBOARD</span>
                      </a>
                  </li>
                  {% if employee.position.initials == "HRM" or employee.position.initials == "GM" or employee.position.initials == "CCM" or employee.position.initials == "CACC" or employee.position.initials == "ACCM"  %}
                  <li class="active">
                        <a href="{% url 'ACCNTS:list_payroll' %}">
                            <i class="material-icons">people</i>
                            <span>PAYROLL</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">assignment</i>
                            <span>INVOICE</span>
                        </a>
                        <ul class="ml-menu" style="font-size: 16px;">
                            <li>
                                <a href="{% url 'ACCNTS:list_profoma'%}"> PROFOMA INVOICE</a>
                            </li>
                            <li>
                                <a href="{% url 'ACCNTS:payment_list' %}">INVOICE</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-cions fas fa-file-invoice-dollar" style="font-size:24px; "></i>
                            <span>ACCOUNTS</span>
                        </a>
                        <ul class="ml-menu" style="font-size: 16px;">
                            <li>
                                <a href="{% url 'ACCNTS:asset_list'%}">ASSETS</a>
                            </li>
                            <li>
                                <a href="{% url 'ACCNTS:bank_list'%}">BANKING</a>
                            </li>
                            <li>
                                <a href="{% url 'ACCNTS:expense_list' %}">EXPENSES</a>
                            </li>
                            <li>
                                <a href="{% url 'ACCNTS:income_list' %}">INCOME</a>
                            </li>
                            <li>
                                <a href="{% url 'ACCNTS:liability_list' %}">LIABILITY</a>
                            </li>
                            <li>
                                <a href="{% url 'ACCNTS:sales_list' %}">SALES</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-cions fas fa-file-invoice-dollar" style="font-size:24px; "></i>
                            <span>SUMMARY REPORTS</span>
                        </a>
                        <ul class="ml-menu" style="font-size: 16px;">
                            <li>
                                <a href="{% url 'ACCNTS:banking_report'%}">Banking Details</a>
                            </li>
                            <li>
                                <a href="{% url 'ACCNTS:bank_list'%}">Balance Sheet</a>
                            </li>
                            <li>
                                <a href="{% url 'ACCNTS:asset_report' %}">Fixed Assets</a>
                            </li>
                            <li>
                                <a href="{% url 'ACCNTS:p_loss_report' %}">Profit & loss</a>
                            </li>
                            <li>
                                <a href="{% url 'ACCNTS:sales_report' %}">Sales Report</a>
                            </li>
                            <li>
                                <a href="{% url 'ACCNTS:expense_report' %}">Purchases Report</a>
                            </li>
                            <li>
                                <a href="{% url 'ACCNTS:liability_list' %}">Trial Report</a>
                            </li>
                            <li>
                                <a href="{% url 'ACCNTS:kra_report' %}">KRA Payments</a>
                            </li>
                        </ul>
                    </li>
                  {% else %}
                    <li class="active">
                        <a href="{% url 'ACCNTS:payslip'%}">
                        <i class="material-icons">people</i>
                            <span>PAYSLIP</span>
                        </a>
                    </li>
                  {% endif %}
                <li class="active">
                    <a href="{% url 'index' %}">
                        <i class="material-icons">keyboard_return</i>
                        <span>BACK TO PANEL</span>
                    </a>
                </li>
              </ul>
          </div>
          <!-- #Menu -->
          <!-- Footer -->
<!--           <div class="legal">
              <div class="copyright">
                  &copy; 2018 <a href="javascript:void(0);">GS1 Kenya </a>.
              </div>
          </div> -->
          <!-- #Footer -->
      </aside>
      <!-- #END# Left Sidebar -->
      <section class="content">
          <div class="container-fluid">
              <div class="block-header">
                  <h2>{% block header %} {% endblock%}</h2>
              </div>
              {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
              </div>
              {% endfor %}
  {% block content %}

  {% endblock %}

  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/ui-multiselect.js' %}"></script> 
  <script>
      $( function() {
          $( ".datepicker" ).datepicker();
      } );
   $("document").ready(function(){
       console.log("Omambia Dauglous");
       setTimeout(function(){
           $("div.alert").remove();
       }, 5000 ); // 5 secs

   });
      $(function(){
      // choose either the full version
      $(".multiselect").multiselect();
      });
  </script>
  <script src="{% static 'plugins/node-waves/waves.js' %}"></script>
  <script src="{% static 'js/admin.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
  <script src="{% static 'js/pages/tables/jquery-datatable.js' %}"></script>
  <script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
  <script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'plugins/jquery-datatable/extensions/export/jszip.min.js' %}"></script>
  <script src="{% static 'plugins/jquery-datatable/extensions/export/pdfmake.min.js' %}"></script>
  <script src="{% static 'plugins/jquery-datatable/extensions/export/vfs_fonts.js' %}"></script>
  <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.html5.min.js' %}"></script>
  <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.print.min.js' %}"></script>
</body>

</html>
