<!DOCTYPE html>

{% load staticfiles %}

<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>GS1 ONLINE ERP</title>
    <!-- Favicon-->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{% static 'plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Waves Effect Css {% static '' %} -->
    <link href="{% static 'plugins/node-waves/waves.css' %} " rel="stylesheet" />
    <!-- JQuery DataTable Css -->
    <link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">
    <!-- Animation Css -->
    <link href="{% static 'plugins/animate-css/animate.css' %}" rel="stylesheet" />
  
    <!-- Custom Css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
</head>

<body>
  <!-- Page Loader -->
  <div class="page-loader-wrapper">
      <div class="loader">
          <div class="preloader">
              <div class="spinner-layer pl-red">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
          </div>
          <p>Please wait...</p>
      </div>
  </div>
  <!-- #END# Page Loader -->
  <!-- Overlay For Sidebars -->
  <div class="overlay"></div>
  <!-- #END# Overlay For Sidebars -->
  <!-- Search Bar -->
  <div class="search-bar">
      <div class="search-icon">
          <i class="material-icons">search</i>
      </div>
      <input type="text" placeholder="START TYPING...">
      <div class="close-search">
          <i class="material-icons">close</i>
      </div>
  </div>
  <!-- #END# Search Bar -->
  <!-- Top Bar -->
  <nav class="navbar">
      <div class="container-fluid">
          <div class="navbar-header">
              <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
              <a href="javascript:void(0);" class="bars"></a>
              <a class="navbar-brand" href="index.html" >    <img style="float:left;display:inline-block;margin-top: -15px;" src="{% static 'images/gs1ea.png' %}" width="80" height="50" alt="User" /> ONLINE ERP</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <!-- Start of Notifications -->
                    <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <i class="material-icons" style="color: #E91E63;">notifications</i>
                                <span class="label-count" style="color: #fff;  font-size: 1rem;">7</span>
                            </a>
                        </li>
                        <!-- #END# Notifications -->
              </ul>
          </div>
      </div>
  </nav>
  <!-- #Top Bar -->
  <section>
      <!-- Left Sidebar -->
      <aside id="leftsidebar" class="sidebar">
          <!-- User Info -->
          <div class="user-info">
              <div class="image">
                  <img src="{% static 'images/user.png' %}" width="48" height="48" alt="User" />
              </div>
              <span>
              <div class="info-container btn-primary">
                {% if user.is_authenticated %}
                  <div class="name " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{user.username }}
                  </div>
                  <div class="email">{{ user.email }}</div>
                  <div class="btn-group user-helper-dropdown">
                      <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                      <ul class="dropdown-menu pull-right">
                          <li><a href="{% url 'accounts:profile' pk=user.id %}"><i class="material-icons">person</i>Profile</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="{% url 'accounts:logout'%}"><i class="material-icons">input</i>Sign Out</a></li>
                      </ul>
                  </div>
                  {% endif %}
              </div>
            </span>
          </div>
          <!-- #User Info -->
          <!-- Menu -->
          <div class="menu">
            <ul class="list">
                <li class="active">
                    <a href="{% url  'CRM:index' %}">
                        <i class="material-icons">apps</i>
                        <span>DASHBOARD</span>
                    </a>
                </li>
                <li class="active">
                  <a href="{% url  'CRM:list_client' %}">
                      <i class="material-icons">people</i>
                      <span>CLIENTS</span>
                  </a>
              </li>
                <li class="active">
                  <a href="{% url  'CRM:list_supplier' %}">
                      <i class="material-icons">local_shipping</i>
                      <span>SUPPLIERS</span>
                  </a>
              </li>
            </li>
                <li class="active">
                <a href="{% url  'CRM:list_feedback' %}">
                    <i class="material-icons">feedback</i>
                    <span>FEEDBACK</span>
                </a>
            </li>
              <li class="active">
                  <a href="{% url  'CRM:list_training' %}">
                      <i class="material-icons">business</i>
                      <span>TRAINING</span>
                  </a>
              </li>
              <li class="active">
                  <a href="{% url  'index' %}">
                      <i class="material-icons">keyboard_return</i>
                      <span>BACK TO PANEL</span>
                  </a>
              </li>
            </ul>
          </div>
          <!-- #Menu -->
          <!-- Footer -->
          <div class="legal">
              <div class="copyright">
                  &copy; 2018 <a href="javascript:void(0);">GS1 East Africa </a>.
              </div>
              <div class="version">
                  <b>Version: </b> 1.0.5
              </div>
          </div>
          <!-- #Footer -->
      </aside>
      <!-- #END# Left Sidebar -->
      <section class="content">
          <div class="container-fluid">
              <div class="block-header">
                  <h2>{% block header %} {% endblock%}</h2>
              </div>

  {% block content %}

  {% endblock %}


    <!-- Jquery Core Js -->
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'plugins/node-waves/waves.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    
    <script>
        $( function() {
            $( ".datepicker" ).datepicker();
        } );
    </script>
        <!-- Waves Effect Plugin Js -->
        <script src="{% static 'plugins/node-waves/waves.js' %}"></script>
    
        <!-- Validation Plugin Js -->
        <script src="{% static 'plugins/jquery-validation/jquery.validate.js' %}"></script>
    
        <!-- Custom Js -->
        <script src="{% static 'js/admin.js' %}"></script>
        <script src="{% static 'js/pages/examples/sign-in.js' %}"></script>
        <!-- Select Plugin Js -->
        <script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>
    
        <!-- Slimscroll Plugin Js -->
        <script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
    
    
        <!-- Jquery CountTo Plugin Js -->
        <script src="{% static 'plugins/jquery-countto/jquery.countTo.js' %}"></script>
    
        <!-- Morris Plugin Js -->
        <script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>
        <script src="{% static 'plugins/morrisjs/morris.js' %}"></script>
    
        <!-- ChartJs -->
        <script src="{% static 'plugins/chartjs/Chart.bundle.js' %}"></script>
    
        <!-- Flot Charts Plugin Js -->
        <script src="{% static 'plugins/flot-charts/jquery.flot.js' %}"></script>
        <script src="{% static 'plugins/flot-charts/jquery.flot.resize.js' %}"></script>
        <script src="{% static 'plugins/flot-charts/jquery.flot.pie.js' %}"></script>
        <script src="{% static 'plugins/flot-charts/jquery.flot.categories.js' %}"></script>
        <script src="{% static 'plugins/flot-charts/jquery.flot.time.js' %}"></script>
    
        <!-- Sparkline Chart Plugin Js -->
        <script src="{% static 'plugins/jquery-sparkline/jquery.sparkline.js' %}"></script>
    
        <!-- Jquery DataTable Plugin Js -->
        <script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
        <script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
        <script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>
        <script src="{% static 'plugins/jquery-datatable/extensions/export/jszip.min.js' %}"></script>
        <script src="{% static 'plugins/jquery-datatable/extensions/export/pdfmake.min.js' %}"></script>
        <script src="{% static 'plugins/jquery-datatable/extensions/export/vfs_fonts.js' %}"></script>
        <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.html5.min.js' %}"></script>
        <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.print.min.js' %}"></script>
    
        <!-- Custom Js -->
        <script src="{% static 'js/admin.js' %}"></script>
    
          <script src="{% static 'js/pages/tables/jquery-datatable.js' %}"></script>
</body>

</html>
