{% extends "layout/main_layout.html" %}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">HRM  | OWN PERFORMANCE</h2>
  </div>
{% endblock%}
{% block content %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card body ">
            <div>
                <h2 class="body">
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Start Date</th>
                                <th>Finishing Date</th>
                                <th> Objective</th>
                                <th style="text-align: center;"> Status</th>
                                <th style="text-align:center;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if performances %}
                              {% for performance in performances %}
                                  <tr>
                                      <td>{{ performance.employee }}</td>
                                      <td>{{ performance.start_date }}</td>
                                      <td>{{ performance.finish_date }}</td>
                                      <td>{{ performance.objective }}</td>
                                      <td style="text-align: center;">
                                        {% if performance.status  == 1%}
                                        <span class="label btn btn-lg btn-success">Done</span>
                                        {% else %}
                                        <span class="label btn btn-lg bg-orange">in progress ..</span>
                                        {% endif %}
                                     </td>
                                      <td style="text-align:center;">
                                          <span> <a href = "{% url 'hrm:perfom_note' pk=performance.id %}"><i class="material-icons">edit</i></a> </span>
                                      </td>
                                  </tr>
                              {% endfor %}
                            {% else %}

                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->

{% endblock %}
