{% extends 'layout/main_layout.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
{% block header %}
  <div class = "row" style="background: none; box-shadow: none; margin-left: 1.2rem;">
      <h2 class="header pull-left">HRM | ADD PERFORMANCE</h2>
  </div>
{% endblock%}
{% block content %}
  <div class="card">
    <div class="body">
      <h2 ><a class="btn btn-primary" href = "{% url 'hrm:perfom_list'%}">BACK</a></h2>

      <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row clearfix">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-line">
                        <label for="{{ user_form.first_name.id_for_label }}">Choose Employee</label>
                        {{ form.employee|add_class:"form-control"}}
                        <ul>
                            {% for error in form.employee.errors%}
                            <li class="alert alert-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
    
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-line">
                        <label for="{{ user_form.first_name.id_for_label }}">Start Date</label>
                        {{ form.start_date|add_class:"form-control datepicker" }}
                        <ul>
                        {% for error in form.start_date.errors%}
                            <li class="alert alert-danger">{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- row two -->
        <div class="row clearfix">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-line">
                        <label for="{{ user_form.first_name.id_for_label }}">Finishing Date</label>
                        {{ form.finish_date|add_class:"form-control datepicker"}}
                        <ul>
                            {% for error in form.finish_date.errors%}
                            <li class="alert alert-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
    
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-line">
                        <label for="{{ user_form.first_name.id_for_label }}">Assign objective</label>
                        {{ form.objective|add_class:"form-control" }}
                        <ul>
                        {% for error in form.objective.errors%}
                            <li class="alert alert-danger">{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
          <div class="clearfix">
            <div class="col-md-4 pull-left">
                <input type="submit" class="btn btn-primary btn-lg m-l-15 waves-effect" value="submit">
            </div>
          </div>
          </form>
      </div>


{% endblock %}
